Repository bjw-s-labs/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes

feat(z2m): Enable watchdog
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: none

feat(z2m): Enable watchdog
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: none

fix(kromgo): Fix metrics
  README.md
  kubernetes/main/apps/monitoring/kromgo/app/config/config.yaml
Labels: none

fix(kromgo): Fix metrics
  README.md
  kubernetes/main/apps/monitoring/kromgo/app/config/config.yaml
Labels: none

feat(sabnzbd): Back to custom scripts
  kubernetes/main/apps/downloads/cross-seed/app/helmrelease.yaml
  kubernetes/main/apps/downloads/radarr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/externalsecret.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/kustomization.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/scripts/xseed.sh
  kubernetes/main/apps/downloads/sonarr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/sonarr/app/helmrelease.yaml
Labels: none

feat(sabnzbd): Back to custom scripts
  kubernetes/main/apps/downloads/cross-seed/app/helmrelease.yaml
  kubernetes/main/apps/downloads/radarr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/externalsecret.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/kustomization.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/scripts/xseed.sh
  kubernetes/main/apps/downloads/sonarr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/sonarr/app/helmrelease.yaml
Labels: none

fix(reloader): Update values
  kubernetes/main/apps/system/reloader/app/helmrelease.yaml
Labels: none

fix(reloader): Update values
  kubernetes/main/apps/system/reloader/app/helmrelease.yaml
Labels: none

fix(reloader): Revert 1.0.120 release
  kubernetes/main/apps/system/reloader/app/helmrelease.yaml
Labels: none

fix(reloader): Revert 1.0.120 release
  kubernetes/main/apps/system/reloader/app/helmrelease.yaml
Labels: none

Test new renovate action
  .github/workflows/renovate.yaml
Labels: area/github

Re-deploy
  .github/workflows/renovate.yaml
Labels: area/github

Needed for forked repos?
  .github/workflows/renovate.yaml
Labels: area/github

Wrong key value
  .github/workflows/renovate.yaml
Labels: area/github

Keys are depreciated. Updated to new format
  .github/workflows/renovate.yaml
Labels: area/github

Fix renovate config errors
  .github/renovate.json5
Labels: area/github

Point to the right folder in my repo
  .github/renovate.json5
  .github/renovate/packageRules.json5
Labels: area/github

feat(qbtools): Update HR
  kubernetes/main/apps/downloads/qbittorrent/tools/helmrelease.yaml
Labels: none

feat(qbtools): Update HR
  kubernetes/main/apps/downloads/qbittorrent/tools/helmrelease.yaml
Labels: none

finally working
  .taskfiles/ta2/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  kubernetes/main/apps/kube-system/cilium/config/l2announcement.yaml
  kubernetes/main/bootstrap/flux/age-key.sops.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml.old
  kubernetes/main/bootstrap/talos/talenv.sops.yaml
  kubernetes/main/bootstrap/talos/talsecret.sops.yaml
Labels: none

Update multus
  k8s/clusters/cluster-2/manifests/network/multus/app/helmrelease.yaml
Labels: area/kubernetes

feat(multus): Move to app-template
  kubernetes/main/apps/network/multus/app/helmrelease.yaml
  kubernetes/main/apps/network/multus/app/kustomization.yaml
  kubernetes/main/apps/network/multus/app/rbac.yaml
Labels: none

feat(multus): Move to app-template
  kubernetes/main/apps/network/multus/app/helmrelease.yaml
  kubernetes/main/apps/network/multus/app/kustomization.yaml
  kubernetes/main/apps/network/multus/app/rbac.yaml
Labels: none

fix(multus): Add CRD
  kubernetes/main/apps/network/multus/app/crd.yaml
  kubernetes/main/apps/network/multus/app/kustomization.yaml
Labels: none

fix(multus): Add CRD
  kubernetes/main/apps/network/multus/app/crd.yaml
  kubernetes/main/apps/network/multus/app/kustomization.yaml
Labels: none

feat(multus): Set uninstall hook on pre-upgrade
  kubernetes/main/apps/network/multus/app/helmrelease.yaml
Labels: none

feat(multus): Set uninstall hook on pre-upgrade
  kubernetes/main/apps/network/multus/app/helmrelease.yaml
Labels: none

feat(multus): info logLevel is fiiine
  kubernetes/main/apps/network/multus/app/helmrelease.yaml
Labels: none

feat(multus): info logLevel is fiiine
  kubernetes/main/apps/network/multus/app/helmrelease.yaml
Labels: none

Move over to app-template
  k8s/clusters/cluster-2/manifests/network/multus/app/crd.yaml
  k8s/clusters/cluster-2/manifests/network/multus/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/network/multus/app/kustomization.yaml
  k8s/clusters/cluster-2/manifests/network/multus/app/rbac.yaml
Labels: area/kubernetes

Missing a key
  k8s/clusters/cluster-2/manifests/network/multus/app/helmrelease.yaml
Labels: area/kubernetes

Grr, test
  k8s/clusters/cluster-2/manifests/network/multus/app/helmrelease.yaml
Labels: area/kubernetes

Need this back
  k8s/clusters/cluster-2/manifests/network/multus/app/helmrelease.yaml
Labels: area/kubernetes

feat(multus): error logLevel instead of info because reasons
  kubernetes/main/apps/network/multus/app/helmrelease.yaml
Labels: none

feat(multus): error logLevel instead of info because reasons
  kubernetes/main/apps/network/multus/app/helmrelease.yaml
Labels: none

Use correct log value
  k8s/clusters/cluster-2/manifests/network/multus/app/helmrelease.yaml
Labels: area/kubernetes

Up dep scrub interval
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Remove unneeded SSD OSD from work2
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(recyclarr): Update min_format_score
  kubernetes/main/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: none

fix(recyclarr): Update min_format_score
  kubernetes/main/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: none

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/clusters/**/*"
        - "k8s/global/**/*"
