Repository bjw-s-labs/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes

Disable csi-addon?
  k8s/clusters/cluster-2/manifests/csi-addons-system/kustomization.yaml
Labels: area/kubernetes

Needed for ceph???
  k8s/clusters/cluster-2/manifests/csi-addons-system/kustomization.yaml
Labels: area/kubernetes

Disable CSI add on requirement
  k8s/clusters/cluster-2/manifests/rook-ceph/ks.yaml
  k8s/clusters/cluster-2/manifests/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

Remove again I dont think I need to run this
  k8s/clusters/cluster-2/manifests/csi-addons-system/kustomization.yaml
Labels: area/kubernetes

Remove unneeded DNS entries
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/kustomization.yaml
Labels: area/kubernetes

Disable mount option
  k8s/clusters/cluster-2/manifests/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

Update target
  k8s/clusters/cluster-2/manifests/monitoring/snmp-exporter/app/brocade-icx/helmrelease.yaml
Labels: area/kubernetes

Remove nested sub domain
  k8s/clusters/cluster-2/manifests/database/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes

feat(volsync): Limit the number of concurrent mover pods per node
  kubernetes/main/templates/volsync/minio/replicationsource.yaml
  kubernetes/main/templates/volsync/r2/replicationsource.yaml
Labels: none

feat(volsync): Limit the number of concurrent mover pods per node
  kubernetes/main/templates/volsync/minio/replicationsource.yaml
  kubernetes/main/templates/volsync/r2/replicationsource.yaml
Labels: none

feat!: Jump on the minijinja train, update structure
  .gitattributes
  .minijinja.toml
  .taskfiles/_scripts/wait-for-k8s-job.sh
  .taskfiles/flux/Taskfile.yaml
  .taskfiles/k8s-bootstrap/Taskfile.yaml
  .taskfiles/k8s/Taskfile.yaml
  .taskfiles/postgres/Taskfile.yaml
  .taskfiles/rook/Taskfile.yaml
  .taskfiles/rook/WipeDiskJob.tmpl.yaml
  .taskfiles/rook/WipeRookDataJob.tmpl.yaml
  .taskfiles/rook/resources/wipe-rook.yaml.j2
  .taskfiles/sops/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/resources/list-snapshots.yaml.j2
  .taskfiles/volsync/resources/replicationdestination.yaml.j2
  .taskfiles/volsync/templates/replicationdestination.tmpl.yaml
  .taskfiles/volsync/templates/unlock.tmpl.yaml
  .taskfiles/volsync/templates/wipe.tmpl.yaml
  .vscode/extensions.json
  Taskfile.yaml
  kubernetes/main/apps/flux-system/add-ons/app/externalsecret.yaml
  kubernetes/main/apps/flux-system/add-ons/app/kustomization.yaml
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
  kubernetes/main/bootstrap/apps/helmfile.yaml
  kubernetes/main/bootstrap/bootstrap.env
  kubernetes/main/bootstrap/flux/age-key.sops.yaml
  kubernetes/main/bootstrap/flux/flux-system.yaml.j2
  kubernetes/main/bootstrap/flux/kustomization.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml
  kubernetes/main/bootstrap/talos/talenv.sops.yaml
  kubernetes/main/flux/config/flux.yaml
  kubernetes/main/flux/vars/cluster-secrets.sops.yaml
  kubernetes/main/flux/vars/cluster-settings.yaml
  kubernetes/main/flux/vars/kustomization.yaml
  kubernetes/main/talos/clusterconfig/.gitignore
  kubernetes/main/talos/talconfig.yaml
  kubernetes/main/talos/talsecret.sops.yaml
  mise.toml
Labels: none

feat!: Jump on the minijinja train, update structure (#7548)
  .gitattributes
  .minijinja.toml
  .taskfiles/_scripts/wait-for-k8s-job.sh
  .taskfiles/flux/Taskfile.yaml
  .taskfiles/k8s-bootstrap/Taskfile.yaml
  .taskfiles/k8s/Taskfile.yaml
  .taskfiles/postgres/Taskfile.yaml
  .taskfiles/rook/Taskfile.yaml
  .taskfiles/rook/WipeDiskJob.tmpl.yaml
  .taskfiles/rook/WipeRookDataJob.tmpl.yaml
  .taskfiles/rook/resources/wipe-rook.yaml.j2
  .taskfiles/sops/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/resources/list-snapshots.yaml.j2
  .taskfiles/volsync/resources/replicationdestination.yaml.j2
  .taskfiles/volsync/templates/replicationdestination.tmpl.yaml
  .taskfiles/volsync/templates/unlock.tmpl.yaml
  .taskfiles/volsync/templates/wipe.tmpl.yaml
  .vscode/extensions.json
  Taskfile.yaml
  kubernetes/main/apps/flux-system/add-ons/app/externalsecret.yaml
  kubernetes/main/apps/flux-system/add-ons/app/kustomization.yaml
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
  kubernetes/main/bootstrap/apps/helmfile.yaml
  kubernetes/main/bootstrap/bootstrap.env
  kubernetes/main/bootstrap/flux/age-key.sops.yaml
  kubernetes/main/bootstrap/flux/flux-system.yaml.j2
  kubernetes/main/bootstrap/flux/kustomization.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml
  kubernetes/main/bootstrap/talos/talenv.sops.yaml
  kubernetes/main/flux/config/flux.yaml
  kubernetes/main/flux/vars/cluster-secrets.sops.yaml
  kubernetes/main/flux/vars/cluster-settings.yaml
  kubernetes/main/flux/vars/kustomization.yaml
  kubernetes/main/talos/clusterconfig/.gitignore
  kubernetes/main/talos/talconfig.yaml
  kubernetes/main/talos/talsecret.sops.yaml
  mise.toml
Labels: none

feat!: Jump on the minijinja train, update structure (#7548)
  .gitattributes
  .minijinja.toml
  .taskfiles/_scripts/wait-for-k8s-job.sh
  .taskfiles/flux/Taskfile.yaml
  .taskfiles/k8s-bootstrap/Taskfile.yaml
  .taskfiles/k8s/Taskfile.yaml
  .taskfiles/postgres/Taskfile.yaml
  .taskfiles/rook/Taskfile.yaml
  .taskfiles/rook/WipeDiskJob.tmpl.yaml
  .taskfiles/rook/WipeRookDataJob.tmpl.yaml
  .taskfiles/rook/resources/wipe-rook.yaml.j2
  .taskfiles/sops/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/resources/list-snapshots.yaml.j2
  .taskfiles/volsync/resources/replicationdestination.yaml.j2
  .taskfiles/volsync/templates/replicationdestination.tmpl.yaml
  .taskfiles/volsync/templates/unlock.tmpl.yaml
  .taskfiles/volsync/templates/wipe.tmpl.yaml
  .vscode/extensions.json
  Taskfile.yaml
  kubernetes/main/apps/flux-system/add-ons/app/externalsecret.yaml
  kubernetes/main/apps/flux-system/add-ons/app/kustomization.yaml
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
  kubernetes/main/bootstrap/apps/helmfile.yaml
  kubernetes/main/bootstrap/bootstrap.env
  kubernetes/main/bootstrap/flux/age-key.sops.yaml
  kubernetes/main/bootstrap/flux/flux-system.yaml.j2
  kubernetes/main/bootstrap/flux/kustomization.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml
  kubernetes/main/bootstrap/talos/talenv.sops.yaml
  kubernetes/main/flux/config/flux.yaml
  kubernetes/main/flux/vars/cluster-secrets.sops.yaml
  kubernetes/main/flux/vars/cluster-settings.yaml
  kubernetes/main/flux/vars/kustomization.yaml
  kubernetes/main/talos/clusterconfig/.gitignore
  kubernetes/main/talos/talconfig.yaml
  kubernetes/main/talos/talsecret.sops.yaml
  mise.toml
Labels: none

fix: Remove obsolete cluster-settings reference
  kubernetes/main/flux/apps.yaml
  kubernetes/main/flux/config/cluster.yaml
Labels: none

fix: Remove obsolete cluster-settings reference
  kubernetes/main/flux/apps.yaml
  kubernetes/main/flux/config/cluster.yaml
Labels: none

feat(taskfile): Add talos:apply-node
  .taskfiles/talos/Taskfile.yaml
Labels: none

feat(taskfile): Add talos:apply-node
  .taskfiles/talos/Taskfile.yaml
Labels: none

fix(hass): Increase config PVC size
  kubernetes/main/apps/home-automation/home-assistant/ks.yaml
Labels: none

fix(hass): Increase config PVC size
  kubernetes/main/apps/home-automation/home-assistant/ks.yaml
Labels: none

chore: Update Renovate config
  .github/renovate/versioning.json5
Labels: area/github

chore: Update Renovate config
  .github/renovate/versioning.json5
Labels: area/github

feat: Downgrade scrypted to test renovate
  kubernetes/main/apps/home-automation/scrypted/app/helmrelease.yaml
Labels: none

feat: Downgrade scrypted to test renovate
  kubernetes/main/apps/home-automation/scrypted/app/helmrelease.yaml
Labels: none

chore: Update Renovate config
  .github/renovate/versioning.json5
Labels: area/github

chore: Update Renovate config
  .github/renovate/versioning.json5
Labels: area/github

Lower CPU requirements
  k8s/clusters/cluster-2/manifests/network/multus/components/dhcp-daemonset.yaml
Labels: area/kubernetes

feat: Prepare for m.2 coral
  kubernetes/main/apps/system/generic-device-plugin/app/config/config.yaml
  kubernetes/main/talos/talconfig.yaml
Labels: none

feat: Prepare for m.2 coral
  kubernetes/main/apps/system/generic-device-plugin/app/config/config.yaml
  kubernetes/main/talos/talconfig.yaml
Labels: none

feat(taskfile): Add talos upgrade task
  .taskfiles/talos/Taskfile.yaml
Labels: none

feat(taskfile): Add talos upgrade task
  .taskfiles/talos/Taskfile.yaml
Labels: none

No limits
  k8s/clusters/cluster-2/manifests/system/intel-device-plugin/exporter/helmrelease.yaml
Labels: area/kubernetes

Add running BGP FRR config
  k8s/configs/unifi-bgp.conf
Labels: none

Disable dhcp daemon I dont use this and this might be causing weird issues?
  k8s/clusters/cluster-2/manifests/network/multus/components/kustomization.yaml
Labels: area/kubernetes

feat(scrypted): No more privileged for you!
  kubernetes/main/apps/home-automation/scrypted/app/helmrelease.yaml
Labels: none

feat(scrypted): No more privileged for you!
  kubernetes/main/apps/home-automation/scrypted/app/helmrelease.yaml
Labels: none

feat(plex): Use resources to allocate pod
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
Labels: none

feat(plex): Use resources to allocate pod
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
Labels: none

feat(NFD): Archive
  .archive/kubernetes/node-feature-discovery/app/helmrelease.yaml
  .archive/kubernetes/node-feature-discovery/app/kustomization.yaml
  .archive/kubernetes/node-feature-discovery/ks.yaml
  .archive/kubernetes/node-feature-discovery/rules/nodefeaturerule.yaml
  kubernetes/main/apps/system/intel-device-plugins/gpu/helmrelease.yaml
  kubernetes/main/apps/system/intel-device-plugins/gpu/kustomization.yaml
  kubernetes/main/apps/system/intel-device-plugins/gpu/nodefeaturerule.yaml
  kubernetes/main/apps/system/kustomization.yaml
Labels: none

feat(NFD): Archive
  .archive/kubernetes/node-feature-discovery/app/helmrelease.yaml
  .archive/kubernetes/node-feature-discovery/app/kustomization.yaml
  .archive/kubernetes/node-feature-discovery/ks.yaml
  .archive/kubernetes/node-feature-discovery/rules/nodefeaturerule.yaml
  kubernetes/main/apps/system/intel-device-plugins/gpu/helmrelease.yaml
  kubernetes/main/apps/system/intel-device-plugins/gpu/kustomization.yaml
  kubernetes/main/apps/system/intel-device-plugins/gpu/nodefeaturerule.yaml
  kubernetes/main/apps/system/kustomization.yaml
Labels: none

fix(scrypted): Volsync UID/GID
  kubernetes/main/apps/home-automation/scrypted/ks.yaml
Labels: none

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/clusters/**/*"
        - "k8s/global/**/*"
