Repository bjw-s-labs/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes

fix(grafana): Fix VM datasource
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: none

feat(libreddit)!: Archive
  .archive/kubernetes/libreddit/app/helmrelease.yaml
  .archive/kubernetes/libreddit/app/kustomization.yaml
  .archive/kubernetes/libreddit/ks.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
Labels: none

feat(libreddit)!: Archive
  .archive/kubernetes/libreddit/app/helmrelease.yaml
  .archive/kubernetes/libreddit/app/kustomization.yaml
  .archive/kubernetes/libreddit/ks.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
Labels: none

fix(talos): Bootstrap helmfile paths (#6804)
  kubernetes/main/bootstrap/helmfile.yaml
Labels: none

fix(talos): Bootstrap helmfile paths (#6804)
  kubernetes/main/bootstrap/helmfile.yaml
Labels: none

feat(nginx): Update AI robots
  kubernetes/main/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: none

feat(nginx): Update AI robots
  kubernetes/main/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: none

fix(loki): Fix replicationFactor
  kubernetes/main/apps/monitoring/loki/app/helmrelease.yaml
Labels: none

fix(loki): Fix replicationFactor
  kubernetes/main/apps/monitoring/loki/app/helmrelease.yaml
Labels: none

feat(fluent-bit): Deploy
  kubernetes/main/apps/monitoring/fluent-bit/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/fluent-bit/app/helmrepository.yaml
  kubernetes/main/apps/monitoring/fluent-bit/app/kustomization.yaml
  kubernetes/main/apps/monitoring/fluent-bit/ks.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
Labels: none

feat(fluent-bit): Deploy
  kubernetes/main/apps/monitoring/fluent-bit/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/fluent-bit/app/helmrepository.yaml
  kubernetes/main/apps/monitoring/fluent-bit/app/kustomization.yaml
  kubernetes/main/apps/monitoring/fluent-bit/ks.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
Labels: none

feat(vector)!: Archive
  .archive/vector/agent/config/vector.yaml
  .archive/vector/agent/helmrelease.yaml
  .archive/vector/agent/kustomization.yaml
  .archive/vector/agent/rbac.yaml
  .archive/vector/aggregator/config/vector.yaml
  .archive/vector/aggregator/externalsecret.yaml
  .archive/vector/aggregator/helmrelease.yaml
  .archive/vector/aggregator/kustomization.yaml
  .archive/vector/ks.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
Labels: none

feat(vector)!: Archive
  .archive/vector/agent/config/vector.yaml
  .archive/vector/agent/helmrelease.yaml
  .archive/vector/agent/kustomization.yaml
  .archive/vector/agent/rbac.yaml
  .archive/vector/aggregator/config/vector.yaml
  .archive/vector/aggregator/externalsecret.yaml
  .archive/vector/aggregator/helmrelease.yaml
  .archive/vector/aggregator/kustomization.yaml
  .archive/vector/ks.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
Labels: none

feat(fluent-bit): Add cluster label
  kubernetes/main/apps/monitoring/fluent-bit/app/helmrelease.yaml
Labels: none

feat(fluent-bit): Add cluster label
  kubernetes/main/apps/monitoring/fluent-bit/app/helmrelease.yaml
Labels: none

work3 metadata
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore(renovate): Update config
  .github/renovate/grafanaDashboards.json5
  .github/renovate/versioning.json5
Labels: area/github

chore(renovate): Update config
  .github/renovate/grafanaDashboards.json5
  .github/renovate/versioning.json5
Labels: area/github

feat(miniflux): Bump to v2.1.3
  kubernetes/main/apps/selfhosted/miniflux/app/helmrelease.yaml
Labels: none

feat(miniflux): Bump to v2.1.3
  kubernetes/main/apps/selfhosted/miniflux/app/helmrelease.yaml
Labels: none

chore: Slightly less replicas here and there
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/main/apps/system-controllers/k8tz/app/helmrelease.yaml
  kubernetes/main/apps/system/descheduler/app/helmrelease.yaml
Labels: none

chore: Slightly less replicas here and there
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/main/apps/system-controllers/k8tz/app/helmrelease.yaml
  kubernetes/main/apps/system/descheduler/app/helmrelease.yaml
Labels: none

Fix affinity rules Cleanup unused stuff in spegal HR
  k8s/clusters/cluster-2/manifests/downloads/sabnzbd/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/system/spegel/app/helmrelease.yaml
Labels: area/kubernetes

feat: What is old is new again
  .archive/kubernetes/victoria-metrics/app/helmrelease.yaml
  .archive/kubernetes/victoria-metrics/app/helmrepository.yaml
  .archive/kubernetes/victoria-metrics/app/kustomization.yaml
  .archive/kubernetes/victoria-metrics/app/secret-extrascrapes.yaml
  .archive/kubernetes/victoria-metrics/ks.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/alerts/kustomization.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/alerts/oomkilled.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/prometheusrules/kustomization.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/prometheusrules/zfs.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/blocky.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/smartctl-exporter.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: none

feat: What is old is new again
  .archive/kubernetes/victoria-metrics/app/helmrelease.yaml
  .archive/kubernetes/victoria-metrics/app/helmrepository.yaml
  .archive/kubernetes/victoria-metrics/app/kustomization.yaml
  .archive/kubernetes/victoria-metrics/app/secret-extrascrapes.yaml
  .archive/kubernetes/victoria-metrics/ks.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/alerts/kustomization.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/alerts/oomkilled.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/prometheusrules/kustomization.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/prometheusrules/zfs.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/blocky.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/smartctl-exporter.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: none

fix(blackbox-exporter): Re-enable pikvm monitoring
  kubernetes/main/apps/monitoring/blackbox-exporter/app/helmrelease.yaml
Labels: none

fix(blackbox-exporter): Re-enable pikvm monitoring
  kubernetes/main/apps/monitoring/blackbox-exporter/app/helmrelease.yaml
Labels: none

fix(blackbox-exporter): Pikvm tlsConfig
  kubernetes/main/apps/monitoring/blackbox-exporter/app/helmrelease.yaml
Labels: none

fix(blackbox-exporter): Pikvm tlsConfig
  kubernetes/main/apps/monitoring/blackbox-exporter/app/helmrelease.yaml
Labels: none

fix(z2m): Set adapter type in settings explicitly
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: none

fix(z2m): Set adapter type in settings explicitly
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: none

fix(blackbox-exporter): Update config
  kubernetes/main/apps/monitoring/blackbox-exporter/app/helmrelease.yaml
Labels: none

fix(blackbox-exporter): Update config
  kubernetes/main/apps/monitoring/blackbox-exporter/app/helmrelease.yaml
Labels: none

Add work10 OSD node to ceph Add 3 new nodes to the talos cluster
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
  talos/cluster-2/clusterconfig/.gitignore
  talos/cluster-2/talconfig.yaml
Labels: area/kubernetes

Wrong ID
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Add work11 OSD disks
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Update to newest talos release
  talos/cluster-2/talconfig.yaml
Labels: none

add work9 OSD disk
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Add /dev paths since by-id does not seem to work
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Change node host name
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/clusters/**/*"
        - "k8s/global/**/*"
