Repository bjw-s-labs/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes

feat(flux): Disable pune on Flux KS
  kubernetes/main/flux/config/flux.yaml
Labels: none

feat(flux): Remove OCI and KS
  kubernetes/main/flux/config/flux.yaml
  kubernetes/main/flux/config/kustomization.yaml
Labels: none

feat(flux): Remove OCI and KS
  kubernetes/main/flux/config/flux.yaml
  kubernetes/main/flux/config/kustomization.yaml
Labels: none

Update helmfile
  kubernetes/main/bootstrap/apps/helmfile.yaml
Labels: none

Add flux dependency for flux-github
  kubernetes/main/apps/flux-system/flux/ks.yaml
Labels: none

[Sabnzbd] Move to x86 nodes
  k8s/clusters/cluster-2/manifests/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

feat(flux)!: Use Helm chart to deploy (#7804)
  .renovate/groups.json5
  .taskfiles/k8s-bootstrap/Taskfile.yaml
  kubernetes/main/apps/flux-system/add-ons/app/kustomization.yaml
  kubernetes/main/apps/flux-system/add-ons/app/monitoring/podmonitor.yaml
  kubernetes/main/apps/flux-system/add-ons/app/notifications/alertmanager/kustomization.yaml
  kubernetes/main/apps/flux-system/add-ons/app/notifications/alertmanager/notification.yaml
  kubernetes/main/apps/flux-system/add-ons/app/notifications/kustomization.yaml
  kubernetes/main/apps/flux-system/add-ons/ks.yaml
  kubernetes/main/apps/flux-system/flux/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/flux/app/kustomization.yaml
  kubernetes/main/apps/flux-system/flux/app/kustomizeconfig.yaml
  kubernetes/main/apps/flux-system/flux/app/prometheusrule.yaml
  kubernetes/main/apps/flux-system/flux/app/values.yaml
  kubernetes/main/apps/flux-system/flux/cluster-config/externalsecret.yaml
  kubernetes/main/apps/flux-system/flux/cluster-config/kustomization.yaml
  kubernetes/main/apps/flux-system/flux/github/kustomization.yaml
  kubernetes/main/apps/flux-system/flux/github/webhooks/externalsecret.yaml
  kubernetes/main/apps/flux-system/flux/github/webhooks/ingress.yaml
  kubernetes/main/apps/flux-system/flux/github/webhooks/kustomization.yaml
  kubernetes/main/apps/flux-system/flux/github/webhooks/receiver.yaml
  kubernetes/main/apps/flux-system/flux/ks.yaml
  kubernetes/main/apps/flux-system/kustomization.yaml
  kubernetes/main/bootstrap/apps/helmfile.yaml
  kubernetes/main/flux/repositories/helm/fluxcd-community.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
Labels: none

feat(flux)!: Use Helm chart to deploy (#7804)
  .renovate/groups.json5
  .taskfiles/k8s-bootstrap/Taskfile.yaml
  kubernetes/main/apps/flux-system/add-ons/app/kustomization.yaml
  kubernetes/main/apps/flux-system/add-ons/app/monitoring/podmonitor.yaml
  kubernetes/main/apps/flux-system/add-ons/app/notifications/alertmanager/kustomization.yaml
  kubernetes/main/apps/flux-system/add-ons/app/notifications/alertmanager/notification.yaml
  kubernetes/main/apps/flux-system/add-ons/app/notifications/kustomization.yaml
  kubernetes/main/apps/flux-system/add-ons/ks.yaml
  kubernetes/main/apps/flux-system/flux/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/flux/app/kustomization.yaml
  kubernetes/main/apps/flux-system/flux/app/kustomizeconfig.yaml
  kubernetes/main/apps/flux-system/flux/app/prometheusrule.yaml
  kubernetes/main/apps/flux-system/flux/app/values.yaml
  kubernetes/main/apps/flux-system/flux/cluster-config/externalsecret.yaml
  kubernetes/main/apps/flux-system/flux/cluster-config/kustomization.yaml
  kubernetes/main/apps/flux-system/flux/github/kustomization.yaml
  kubernetes/main/apps/flux-system/flux/github/webhooks/externalsecret.yaml
  kubernetes/main/apps/flux-system/flux/github/webhooks/ingress.yaml
  kubernetes/main/apps/flux-system/flux/github/webhooks/kustomization.yaml
  kubernetes/main/apps/flux-system/flux/github/webhooks/receiver.yaml
  kubernetes/main/apps/flux-system/flux/ks.yaml
  kubernetes/main/apps/flux-system/kustomization.yaml
  kubernetes/main/bootstrap/apps/helmfile.yaml
  kubernetes/main/flux/repositories/helm/fluxcd-community.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
Labels: none

feat(flux)!: Deploy operator
  .github/workflows/flux-diff.yaml
  .taskfiles/k8s-bootstrap/Taskfile.yaml
  kubernetes/main/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/main/apps/flux-system/flux-operator/app/kustomizeconfig.yaml
  kubernetes/main/apps/flux-system/flux-operator/app/values.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/helmrelease.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/kustomization.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/kustomizeconfig.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/prometheusrule.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/values.yaml
  kubernetes/main/apps/flux-system/flux-operator/ks.yaml
  kubernetes/main/apps/flux-system/flux/app/values.yaml
  kubernetes/main/flux/repositories/helm/controlplaneio.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
Labels: area/github

feat(flux)!: Add operator in helmfile
  kubernetes/main/bootstrap/apps/helmfile.yaml
Labels: none

feat: Moarr changes
  .taskfiles/k8s-bootstrap/Taskfile.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance-config/externalsecret.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance-config/kustomization.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/github/kustomization.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/github/webhooks/externalsecret.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/github/webhooks/ingress.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/github/webhooks/kustomization.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/github/webhooks/receiver.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/kustomization.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/values.yaml
  kubernetes/main/apps/flux-system/flux-operator/ks.yaml
  kubernetes/main/apps/flux-system/flux/ks.yaml
  kubernetes/main/bootstrap/flux/kustomization.yaml
  kubernetes/main/bootstrap/helmfile.yaml
  kubernetes/main/bootstrap/templates/resources.yaml.j2
Labels: none

feat: Moarr changes
  kubernetes/main/flux/apps.yaml
  kubernetes/main/flux/config/cluster.yaml
  kubernetes/main/flux/config/kustomization.yaml
  kubernetes/main/flux/settings/kustomization.yaml
Labels: none

fix path
  kubernetes/main/apps/flux-system/flux-operator/ks.yaml
Labels: none

fix kustomization ref
  kubernetes/main/apps/flux-system/kustomization.yaml
Labels: none

fix HelmRepo
  kubernetes/main/flux/repositories/helm/controlplaneio.yaml
Labels: none

fix(flux): Update Github Receiver
  kubernetes/main/apps/flux-system/flux-operator/instance/github/webhooks/receiver.yaml
Labels: none

fix(flux): Update Github Receiver
  kubernetes/main/apps/flux-system/flux-operator/instance/github/webhooks/receiver.yaml
Labels: none

fix(flux): Fix a big boo-boo
  kubernetes/main/apps/flux-system/flux-operator/ks.yaml
Labels: none

fix(flux): Fix a big boo-boo
  kubernetes/main/apps/flux-system/flux-operator/ks.yaml
Labels: none

chore(renovate): Update config
  .renovate/allowedVersions.json5
  .renovate/clusters.json5
  .renovate/groups.json5
  renovate.json5
Labels: none

chore(renovate): Update config
  .renovate/allowedVersions.json5
  .renovate/clusters.json5
  .renovate/groups.json5
  renovate.json5
Labels: none

fix(flux): Add some Instance config tweaks
  kubernetes/main/apps/flux-system/flux-operator/instance/prometheusrule.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/values.yaml
Labels: none

fix(flux): Add some Instance config tweaks
  kubernetes/main/apps/flux-system/flux-operator/instance/prometheusrule.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/values.yaml
Labels: none

fix(kps): Fix ruleSelectorNilUsesHelmValues
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: none

fix(kps): Fix ruleSelectorNilUsesHelmValues
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: none

fix(blackbox-exporter): Update device hostname
  kubernetes/main/apps/monitoring/blackbox-exporter/app/helmrelease.yaml
Labels: none

fix(blackbox-exporter): Update device hostname
  kubernetes/main/apps/monitoring/blackbox-exporter/app/helmrelease.yaml
Labels: none

feat(blackbox-exporter): Add garage tablet
  kubernetes/main/apps/monitoring/blackbox-exporter/app/helmrelease.yaml
Labels: none

feat(blackbox-exporter): Add garage tablet
  kubernetes/main/apps/monitoring/blackbox-exporter/app/helmrelease.yaml
Labels: none

fix(grafana): Replace smartctl-exporter dashboard
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: none

fix(grafana): Replace smartctl-exporter dashboard
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: none

feat(autobrr): Move away from Postgres
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
  kubernetes/main/apps/downloads/autobrr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/autobrr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/autobrr/app/kustomization.yaml
  kubernetes/main/apps/downloads/autobrr/ks.yaml
Labels: none

feat(autobrr): Move away from Postgres
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
  kubernetes/main/apps/downloads/autobrr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/autobrr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/autobrr/app/kustomization.yaml
  kubernetes/main/apps/downloads/autobrr/ks.yaml
Labels: none

feat(atuin): Move away from Postgres
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
  kubernetes/main/apps/selfhosted/atuin/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/atuin/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/atuin/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/atuin/ks.yaml
Labels: none

feat(atuin): Move away from Postgres
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
  kubernetes/main/apps/selfhosted/atuin/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/atuin/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/atuin/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/atuin/ks.yaml
Labels: none

fix(atuin): It works better when you mount the PVC
  kubernetes/main/apps/selfhosted/atuin/app/helmrelease.yaml
Labels: none

fix(atuin): It works better when you mount the PVC
  kubernetes/main/apps/selfhosted/atuin/app/helmrelease.yaml
Labels: none

feat: Prepare rebootstrap
  .taskfiles/k8s-bootstrap/Taskfile.yaml
  .taskfiles/rook/Taskfile.yaml
  .taskfiles/rook/resources/wipe-rook.yaml.j2
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
  kubernetes/main/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/main/apps/system-controllers/kubelet-csr-approver/app/helmrelease.yaml
  kubernetes/main/apps/system-controllers/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/main/apps/system-controllers/kubelet-csr-approver/app/kustomizeconfig.yaml
  kubernetes/main/apps/system-controllers/kubelet-csr-approver/app/values.yaml
  kubernetes/main/apps/system-controllers/kubelet-csr-approver/ks.yaml
  kubernetes/main/apps/system-controllers/kustomization.yaml
  kubernetes/main/bootstrap/helmfile.yaml
  kubernetes/main/bootstrap/templates/wipe-rook.yaml.gotmpl
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/main/flux/repositories/helm/postfinance.yaml
  kubernetes/main/talos/talconfig.yaml
Labels: none

Update talconfig
  kubernetes/main/talos/talconfig.yaml
Labels: none

chore: Update renovate config
  .renovate/groups.json5
Labels: none

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/clusters/**/*"
        - "k8s/global/**/*"
