Repository bjw-s-labs/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes

Add nvme pool
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Test migration of NVMe
  k8s/clusters/cluster-2/manifests/downloads/sonarr-4k/ks.yaml
Labels: area/kubernetes

Migrate downloads NS over to nvme
  k8s/clusters/cluster-2/manifests/downloads/bazarr/ks.yaml
  k8s/clusters/cluster-2/manifests/downloads/lidarr/ks.yaml
  k8s/clusters/cluster-2/manifests/downloads/overseerr/ks.yaml
  k8s/clusters/cluster-2/manifests/downloads/prowlarr/ks.yaml
  k8s/clusters/cluster-2/manifests/downloads/radarr-4k/ks.yaml
  k8s/clusters/cluster-2/manifests/downloads/radarr/ks.yaml
  k8s/clusters/cluster-2/manifests/downloads/sabnzbd/ks.yaml
  k8s/clusters/cluster-2/manifests/downloads/sonarr/ks.yaml
Labels: area/kubernetes

Migrate home autiomation NS
  k8s/clusters/cluster-2/manifests/home-automation/emqx/ks.yaml
  k8s/clusters/cluster-2/manifests/home-automation/esphome/ks.yaml
  k8s/clusters/cluster-2/manifests/home-automation/frigate/ks.yaml
  k8s/clusters/cluster-2/manifests/home-automation/home-assistant/ks.yaml
  k8s/clusters/cluster-2/manifests/home-automation/hyperhdr/ks.yaml
Labels: area/kubernetes

Migrate media NS
  k8s/clusters/cluster-2/manifests/media/autoscan/ks.yaml
  k8s/clusters/cluster-2/manifests/media/plex-auto-languages/ks.yaml
  k8s/clusters/cluster-2/manifests/media/plex-meta-manager/ks.yaml
  k8s/clusters/cluster-2/manifests/media/plex/ks.yaml
  k8s/clusters/cluster-2/manifests/media/tautulli/ks.yaml
Labels: area/kubernetes

Use nvme storage
  k8s/clusters/cluster-2/manifests/home-automation/emqx/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/home-automation/esphome/app/pvc.yaml
Labels: area/kubernetes

Change default to nvme
  k8s/templates/volsync/claim.yaml
  k8s/templates/volsync/s3.yaml
Labels: none

Plex cache should be nvme too
  k8s/clusters/cluster-2/manifests/media/plex/app/pvc.yaml
Labels: area/kubernetes

Use nvme for PMM
  k8s/clusters/cluster-2/manifests/media/plex-auto-languages/app/pvc.yaml
Labels: area/kubernetes

Move monitoring over to nvme
  k8s/clusters/cluster-2/manifests/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

Add volysync grafana
  k8s/clusters/cluster-2/manifests/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

Add WAL
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Fix OSDs
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Did I forget a / this entire time??
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Yep, im a dummah
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Dunno, randomly trying stuff
  .github/renovate-bot.json5
Labels: area/github

Stab in dark
  .github/renovate-bot.json5
Labels: area/github

Reverse stab
  .github/renovate-bot.json5
Labels: area/github

Stabby stab
  .github/renovate/grafanaDashboard.json5
Labels: area/github

Remove unused stuff
  .github/renovate-bot.json5
Labels: area/github

Fix spelling mistake
  .github/renovate/grafanaDashboards.json5
Labels: area/github

ci: Use docker buildx to test image
  .github/workflows/flux-image-test.yaml
Labels: area/github

ci: Use docker buildx to test image
  .github/workflows/flux-image-test.yaml
Labels: area/github

feat: Increase ExternalSecret refreshInterval
  kubernetes/main/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/externalsecret.yaml
  kubernetes/main/apps/dev/actions-runner-controller/operator/externalsecret.yaml
  kubernetes/main/apps/dev/gh-safe-settings/app/externalsecret.yaml
  kubernetes/main/apps/downloads/autobrr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/cross-seed/app/externalsecret.yaml
  kubernetes/main/apps/downloads/prowlarr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/qbittorrent/app/externalsecret.yaml
  kubernetes/main/apps/downloads/radarr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/recyclarr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/externalsecret.yaml
  kubernetes/main/apps/downloads/sonarr/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/dsmr-reader/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/esphome/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/mosquitto/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/exporter/externalsecret.yaml
  kubernetes/main/apps/media/plex/plex-auto-languages/externalsecret.yaml
  kubernetes/main/apps/media/plex/plex-image-cleanup/externalsecret.yaml
  kubernetes/main/apps/media/plex/trakt-sync/externalsecret.yaml
  kubernetes/main/apps/monitoring/alertmanager/app/externalsecret.yaml
  kubernetes/main/apps/monitoring/grafana/app/externalsecret.yaml
  kubernetes/main/apps/monitoring/loki/app/externalsecret.yaml
  kubernetes/main/apps/monitoring/unpoller/app/externalsecret.yaml
  kubernetes/main/apps/network/cloudflared/app/externalsecret.yaml
  kubernetes/main/apps/network/external-dns/external/externalsecret.yaml
  kubernetes/main/apps/network/external-dns/unifi/externalsecret.yaml
  kubernetes/main/apps/scripts/mailbackup/app/externalsecret.yaml
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/security/lldap/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/miniflux/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/node-red/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/ocis/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/paperless/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/radicale/app/externalsecret.yaml
  kubernetes/main/templates/volsync/minio/externalsecret.yaml
  kubernetes/main/templates/volsync/r2/externalsecret.yaml
Labels: none

feat: Increase ExternalSecret refreshInterval
  kubernetes/main/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/externalsecret.yaml
  kubernetes/main/apps/dev/actions-runner-controller/operator/externalsecret.yaml
  kubernetes/main/apps/dev/gh-safe-settings/app/externalsecret.yaml
  kubernetes/main/apps/downloads/autobrr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/cross-seed/app/externalsecret.yaml
  kubernetes/main/apps/downloads/prowlarr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/qbittorrent/app/externalsecret.yaml
  kubernetes/main/apps/downloads/radarr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/recyclarr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/externalsecret.yaml
  kubernetes/main/apps/downloads/sonarr/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/dsmr-reader/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/esphome/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/mosquitto/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/exporter/externalsecret.yaml
  kubernetes/main/apps/media/plex/plex-auto-languages/externalsecret.yaml
  kubernetes/main/apps/media/plex/plex-image-cleanup/externalsecret.yaml
  kubernetes/main/apps/media/plex/trakt-sync/externalsecret.yaml
  kubernetes/main/apps/monitoring/alertmanager/app/externalsecret.yaml
  kubernetes/main/apps/monitoring/grafana/app/externalsecret.yaml
  kubernetes/main/apps/monitoring/loki/app/externalsecret.yaml
  kubernetes/main/apps/monitoring/unpoller/app/externalsecret.yaml
  kubernetes/main/apps/network/cloudflared/app/externalsecret.yaml
  kubernetes/main/apps/network/external-dns/external/externalsecret.yaml
  kubernetes/main/apps/network/external-dns/unifi/externalsecret.yaml
  kubernetes/main/apps/scripts/mailbackup/app/externalsecret.yaml
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/security/lldap/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/miniflux/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/node-red/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/ocis/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/paperless/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/radicale/app/externalsecret.yaml
  kubernetes/main/templates/volsync/minio/externalsecret.yaml
  kubernetes/main/templates/volsync/r2/externalsecret.yaml
Labels: none

feat(miniflux)!: Remove SSO
  kubernetes/main/apps/security/authelia/app/config/configuration.yaml
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/miniflux/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/miniflux/app/helmrelease.yaml
Labels: none

feat(miniflux)!: Remove SSO
  kubernetes/main/apps/security/authelia/app/config/configuration.yaml
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/miniflux/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/miniflux/app/helmrelease.yaml
Labels: none

feat(paperless)!: Remove SSO
  kubernetes/main/apps/security/authelia/app/config/configuration.yaml
  kubernetes/main/apps/selfhosted/paperless/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/paperless/app/helmrelease.yaml
Labels: none

feat(paperless)!: Remove SSO
  kubernetes/main/apps/security/authelia/app/config/configuration.yaml
  kubernetes/main/apps/selfhosted/paperless/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/paperless/app/helmrelease.yaml
Labels: none

feat(ocis)!: Remove SSO
  kubernetes/main/apps/security/authelia/app/config/configuration.yaml
  kubernetes/main/apps/selfhosted/ocis/app/config/proxy.yaml
  kubernetes/main/apps/selfhosted/ocis/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/ocis/app/kustomization.yaml
Labels: none

feat(ocis)!: Remove SSO
  kubernetes/main/apps/security/authelia/app/config/configuration.yaml
  kubernetes/main/apps/selfhosted/ocis/app/config/proxy.yaml
  kubernetes/main/apps/selfhosted/ocis/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/ocis/app/kustomization.yaml
Labels: none

feat(node-red)!: Remove SSO
  kubernetes/main/apps/security/authelia/app/config/configuration.yaml
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/node-red/app/config/settings.js
  kubernetes/main/apps/selfhosted/node-red/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/node-red/app/helmrelease.yaml
Labels: none

feat(node-red)!: Remove SSO
  kubernetes/main/apps/security/authelia/app/config/configuration.yaml
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/node-red/app/config/settings.js
  kubernetes/main/apps/selfhosted/node-red/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/node-red/app/helmrelease.yaml
Labels: none

feat(grafana)!: Remove SSO
  kubernetes/main/apps/monitoring/grafana/app/externalsecret.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/security/authelia/app/config/configuration.yaml
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
Labels: none

feat(grafana)!: Remove SSO
  kubernetes/main/apps/monitoring/grafana/app/externalsecret.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/security/authelia/app/config/configuration.yaml
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
Labels: none

feat(calibre-web)!: Remove SSO
  kubernetes/main/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/main/apps/security/authelia/app/config/configuration.yaml
Labels: none

feat(calibre-web)!: Remove SSO
  kubernetes/main/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/main/apps/security/authelia/app/config/configuration.yaml
Labels: none

feat(echo-server)!: Remove SSO
  kubernetes/main/apps/network/echo-server/app/helmrelease.yaml
  kubernetes/main/apps/security/authelia/app/config/configuration.yaml
Labels: none

feat(echo-server)!: Remove SSO
  kubernetes/main/apps/network/echo-server/app/helmrelease.yaml
  kubernetes/main/apps/security/authelia/app/config/configuration.yaml
Labels: none

feat(linkding)!: Archive
  .archive/kubernetes/linkding/app/externalsecret.yaml
  .archive/kubernetes/linkding/app/helmrelease.yaml
  .archive/kubernetes/linkding/app/kustomization.yaml
  .archive/kubernetes/linkding/ks.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
Labels: none

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/clusters/**/*"
        - "k8s/global/**/*"
