Repository bjw-s-labs/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes

Stop using SSDs in work5 node
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Manually update cause renovate acting weird
  k8s/clusters/cluster-2/manifests/downloads/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

Forgot the `devices` key
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Mess with renovate
  .github/renovate-bot.json5
  .github/renovate.json5
Labels: area/github

Add perms to set attributes for workhorse user
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/clients.yaml
Labels: area/kubernetes

Remove SSD storage
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Fix renovate path
  .github/workflows/renovate.yaml
Labels: area/github

feat(cpgo): Enable monitoring
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/kustomization.yaml
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/podmonitor.yaml
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
Labels: none

feat(cpgo): Enable monitoring
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/kustomization.yaml
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/podmonitor.yaml
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
Labels: none

fix(grafana): Clean up folders
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: none

fix(grafana): Clean up folders
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: none

fix(recyclarr): Update deprecated keys
  kubernetes/main/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: none

fix(recyclarr): Update deprecated keys
  kubernetes/main/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: none

fix(cilium): Disable envoy
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
Labels: none

fix(cilium): Disable envoy
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
Labels: none

fix(talos): NFS config newline
  kubernetes/main/bootstrap/talos/talconfig.yaml
Labels: none

fix(talos): NFS config newline
  kubernetes/main/bootstrap/talos/talconfig.yaml
Labels: none

fix(spegel): Update values
  kubernetes/main/apps/system/spegel/app/values.yaml
Labels: none

fix(spegel): Update values
  kubernetes/main/apps/system/spegel/app/values.yaml
Labels: none

fix(cpgo): Update database settings
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
Labels: none

fix(cpgo): Update database settings
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
Labels: none

fix(cpgo): Update database settings
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
Labels: none

fix(cpgo): Update database settings
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
Labels: none

fix(cpgo): Update database settings
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
Labels: none

fix(cpgo): Update database settings
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
Labels: none

fix(cpgo): Switch R2 to incremental
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
Labels: none

fix(cpgo): Switch R2 to incremental
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
Labels: none

update
  .taskfiles/ansible/Taskfile.yaml
  ansible/.ansible-lint.j2
  ansible/.mjfilter.py
  ansible/inventory/group_vars/controllers/main.yaml.j2
  ansible/inventory/group_vars/kubernetes/main.yaml.j2
  ansible/inventory/group_vars/workers/.mjfilter.py
  ansible/inventory/group_vars/workers/main.yaml.j2
  ansible/inventory/hosts.yaml.j2
  ansible/playbooks/cluster-installation.yaml.j2
  ansible/playbooks/cluster-nuke.yaml.j2
  ansible/playbooks/cluster-prepare.yaml.j2
  ansible/playbooks/cluster-reboot.yaml.j2
  ansible/playbooks/cluster-rollout-update.yaml.j2
  ansible/playbooks/tasks/cilium.yaml.j2
  ansible/playbooks/tasks/cruft.yaml.j2
  ansible/playbooks/tasks/kubeconfig.yaml.j2
  ansible/playbooks/tasks/version-check.yaml.j2
  ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2
  ansible/playbooks/templates/custom-kube-vip-ds.yaml.j2
  ansible/playbooks/templates/custom-kube-vip-rbac.yaml.j2
  ansible/requirements.txt.j2
  ansible/requirements.yaml.j2
Labels: none

fix r2 cluster sops
  kubernetes/main/flux/vars/cluster-secrets.sops.yaml
Labels: none

fix cluster name
  kubernetes/main/bootstrap/talos/talenv.sops.yaml
Labels: none

closer to rolling this one out
  .taskfiles/talos/Taskfile.yaml
  kubernetes/main/bootstrap/talos/clusterconfig/.gitignore
  kubernetes/main/bootstrap/talos/talconfig.yaml
  kubernetes/main/bootstrap/talos/talenv.sops.yaml
  kubernetes/main/bootstrap/talos/talsecret.sops.yaml
Labels: none

order of operations...
  .taskfiles/talos/Taskfile.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml
Labels: none

feat(grafana): Add crunchy dashboards
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: none

feat(grafana): Add crunchy dashboards
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: none

bring in onedr0ps task file for talos
  .envrc
  .gitignore
  .taskfiles/ta/Taskfile.yaml
  Taskfile.yaml
Labels: none

add talosconfig on ignore
  .gitignore
Labels: none

closer
  .taskfiles/ta/Taskfile.yaml
  kubernetes/main/bootstrap/talos/clusterconfig/delta.nickeson.net.yaml
Labels: none

chore(frigate): Try new go2rtc-based frigate stuff
  .archive/kubernetes/frigate/app/config/config.yaml
  .archive/kubernetes/frigate/app/externalsecret.yaml
  .archive/kubernetes/frigate/app/helmrelease.yaml
  .archive/kubernetes/frigate/app/kustomization.yaml
  .archive/kubernetes/frigate/app/volsync.yaml
  .archive/kubernetes/frigate/ks.yaml
Labels: none

chore(frigate): Try new go2rtc-based frigate stuff
  .archive/kubernetes/frigate/app/config/config.yaml
  .archive/kubernetes/frigate/app/externalsecret.yaml
  .archive/kubernetes/frigate/app/helmrelease.yaml
  .archive/kubernetes/frigate/app/kustomization.yaml
  .archive/kubernetes/frigate/app/volsync.yaml
  .archive/kubernetes/frigate/ks.yaml
Labels: none

feat(hass): Put on internal ingress
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: none

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/clusters/**/*"
        - "k8s/global/**/*"
