Repository bjw-s-labs/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes

fix(z2m): Add NET_BIND_SERVICE capability
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: none

ci: Remove image-test, as pre-pull is very similar
  .github/workflows/flux-image-test.yaml
Labels: area/github

ci: Remove image-test, as pre-pull is very similar
  .github/workflows/flux-image-test.yaml
Labels: area/github

fix(cilium): remove acceleration best-effort
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
Labels: none

fix(cilium): remove acceleration best-effort
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
Labels: none

feat(z2m): Enable Z2M_WATCHDOG
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: none

feat(z2m): Enable Z2M_WATCHDOG
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: none

feat(mailarchive): Add 2025 folder
  kubernetes/main/apps/scripts/mailbackup/app/externalsecret.yaml
Labels: none

feat(mailarchive): Add 2025 folder
  kubernetes/main/apps/scripts/mailbackup/app/externalsecret.yaml
Labels: none

ci: Fix flux-diff
  .github/workflows/flux-diff.yaml
Labels: area/github

ci: Fix flux-diff
  .github/workflows/flux-diff.yaml
Labels: area/github

ci: Fix pre-pull
  .github/workflows/pre-pull-images.yaml
Labels: area/github

ci: Fix pre-pull
  .github/workflows/pre-pull-images.yaml
Labels: area/github

fix(hass): code-server resources
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: none

fix(hass): code-server resources
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: none

Add HASS Backup Key
  k8s/clusters/cluster-2/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

ci: Fix pre-pull summary
  .github/workflows/pre-pull-images.yaml
Labels: area/github

ci: Fix pre-pull summary
  .github/workflows/pre-pull-images.yaml
Labels: area/github

ci: Fix pre-pull summary
  .github/workflows/pre-pull-images.yaml
Labels: area/github

ci: Fix pre-pull summary
  .github/workflows/pre-pull-images.yaml
Labels: area/github

fix(hass): Use venv-based hass image
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: none

fix(hass): Use venv-based hass image
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: none

feat(hass): Return to onedr0p image
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: none

feat(hass): Return to onedr0p image
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: none

feat(hass): Move venv folder outside of config folder
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: none

feat(hass): Move venv folder outside of config folder
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: none

feat(hass): Persist hass cache
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/kustomization.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/pvc.yaml
Labels: none

feat(hass): Persist hass cache
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/kustomization.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/pvc.yaml
Labels: none

feat(flux)!: Use Helm chart
  .taskfiles/k8s-bootstrap/Taskfile.yaml
  kubernetes/main/apps/flux-system/add-ons/app/kustomization.yaml
  kubernetes/main/apps/flux-system/add-ons/app/monitoring/kustomization.yaml
  kubernetes/main/apps/flux-system/add-ons/app/monitoring/podmonitor.yaml
  kubernetes/main/apps/flux-system/add-ons/app/notifications/alertmanager/kustomization.yaml
  kubernetes/main/apps/flux-system/add-ons/app/notifications/alertmanager/notification.yaml
  kubernetes/main/apps/flux-system/add-ons/app/notifications/kustomization.yaml
  kubernetes/main/apps/flux-system/add-ons/ks.yaml
  kubernetes/main/apps/flux-system/flux/app/externalsecret.yaml
  kubernetes/main/apps/flux-system/flux/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/flux/app/kustomization.yaml
  kubernetes/main/apps/flux-system/flux/app/kustomizeconfig.yaml
  kubernetes/main/apps/flux-system/flux/app/prometheusrule.yaml
  kubernetes/main/apps/flux-system/flux/app/values.yaml
  kubernetes/main/apps/flux-system/flux/github/kustomization.yaml
  kubernetes/main/apps/flux-system/flux/github/webhooks/externalsecret.yaml
  kubernetes/main/apps/flux-system/flux/github/webhooks/ingress.yaml
  kubernetes/main/apps/flux-system/flux/github/webhooks/kustomization.yaml
  kubernetes/main/apps/flux-system/flux/github/webhooks/receiver.yaml
  kubernetes/main/apps/flux-system/flux/ks.yaml
  kubernetes/main/apps/flux-system/kustomization.yaml
  kubernetes/main/bootstrap/apps/helmfile.yaml
  kubernetes/main/flux/config/flux.yaml
  kubernetes/main/flux/config/kustomization.yaml
  kubernetes/main/flux/repositories/helm/fluxcd-community.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
Labels: none

feat(cpgo): Move secret
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
  kubernetes/main/apps/database/crunchy-postgres-operator/ks.yaml
  kubernetes/main/apps/database/crunchy-postgres-operator/operator/externalsecret.yaml
  kubernetes/main/apps/database/crunchy-postgres-operator/operator/kustomization.yaml
  kubernetes/main/apps/flux-system/add-ons/app/kustomization.yaml
  kubernetes/main/bootstrap/bootstrap.env
  kubernetes/main/bootstrap/flux/flux-system.yaml.j2
  kubernetes/main/flux/apps.yaml
  kubernetes/main/flux/config/cluster.yaml
Labels: none

Try jsonPatch
  kubernetes/main/flux/apps.yaml
Labels: none

Yeet the central secret stuff
  kubernetes/main/flux/apps.yaml
  kubernetes/main/flux/config/cluster.yaml
Labels: none

reshuffle cluster secrets
  kubernetes/main/apps/flux-system/flux/app/kustomization.yaml
  kubernetes/main/apps/flux-system/flux/cluster-config/externalsecret.yaml
  kubernetes/main/apps/flux-system/flux/cluster-config/kustomization.yaml
  kubernetes/main/apps/flux-system/flux/ks.yaml
Labels: none

feat(cilium): Jump on the BGP bandwagon again
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
  kubernetes/main/apps/kube-system/cilium/config/bgp.conf
  kubernetes/main/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/main/apps/kube-system/cilium/config/l2.yaml
  kubernetes/main/apps/kube-system/cilium/config/l2announcement.yaml
  kubernetes/main/apps/kube-system/cilium/config/l3.yaml
  kubernetes/main/apps/kube-system/cilium/config/pool.yaml
Labels: none

feat(cilium): Jump on the BGP bandwagon again
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
  kubernetes/main/apps/kube-system/cilium/config/bgp.conf
  kubernetes/main/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/main/apps/kube-system/cilium/config/l2.yaml
  kubernetes/main/apps/kube-system/cilium/config/l2announcement.yaml
  kubernetes/main/apps/kube-system/cilium/config/l3.yaml
  kubernetes/main/apps/kube-system/cilium/config/pool.yaml
Labels: none

chore: Update yaml schema URLs
  kubernetes/main/apps/cert-manager/cert-manager/app/prometheusRule.yaml
  kubernetes/main/apps/database/crunchy-postgres-operator/ks.yaml
  kubernetes/main/apps/database/crunchy-postgres-operator/userinit-controller/helmrepository.yaml
  kubernetes/main/apps/database/emqx/operator/helmrepository.yaml
  kubernetes/main/apps/monitoring/fluent-bit/app/helmrepository.yaml
  kubernetes/main/apps/monitoring/smartctl-exporter/app/prometheusRule.yaml
  kubernetes/main/flux/repositories/helm/actions-runner-controller.yaml
  kubernetes/main/flux/repositories/helm/angelnu.yaml
  kubernetes/main/flux/repositories/helm/backube.yaml
  kubernetes/main/flux/repositories/helm/bjw-s.yaml
  kubernetes/main/flux/repositories/helm/cilium.yaml
  kubernetes/main/flux/repositories/helm/coredns.yaml
  kubernetes/main/flux/repositories/helm/crunchydata.yaml
  kubernetes/main/flux/repositories/helm/external-secrets.yaml
  kubernetes/main/flux/repositories/helm/grafana.yaml
  kubernetes/main/flux/repositories/helm/ingress-nginx.yaml
  kubernetes/main/flux/repositories/helm/intel.yaml
  kubernetes/main/flux/repositories/helm/jetstack.yaml
  kubernetes/main/flux/repositories/helm/k8tz.yaml
  kubernetes/main/flux/repositories/helm/kubernetes-sigs-descheduler.yaml
  kubernetes/main/flux/repositories/helm/kubernetes-sigs-external-dns.yaml
  kubernetes/main/flux/repositories/helm/kubernetes-sigs-metrics-server.yaml
  kubernetes/main/flux/repositories/helm/kubernetes-sigs-nfd.yaml
  kubernetes/main/flux/repositories/helm/metallb.yaml
  kubernetes/main/flux/repositories/helm/openebs.yaml
  kubernetes/main/flux/repositories/helm/piraeus.yaml
  kubernetes/main/flux/repositories/helm/postfinance.yaml
  kubernetes/main/flux/repositories/helm/prometheus-community.yaml
  kubernetes/main/flux/repositories/helm/rook-ceph.yaml
  kubernetes/main/flux/repositories/helm/spegel.yaml
  kubernetes/main/flux/repositories/helm/stakater.yaml
  kubernetes/main/flux/repositories/helm/stevehipwell.yaml
  kubernetes/main/flux/repositories/helm/vector.yaml
Labels: none

chore: Update yaml schema URLs
  kubernetes/main/apps/cert-manager/cert-manager/app/prometheusRule.yaml
  kubernetes/main/apps/database/crunchy-postgres-operator/ks.yaml
  kubernetes/main/apps/database/crunchy-postgres-operator/userinit-controller/helmrepository.yaml
  kubernetes/main/apps/database/emqx/operator/helmrepository.yaml
  kubernetes/main/apps/monitoring/fluent-bit/app/helmrepository.yaml
  kubernetes/main/apps/monitoring/smartctl-exporter/app/prometheusRule.yaml
  kubernetes/main/flux/repositories/helm/actions-runner-controller.yaml
  kubernetes/main/flux/repositories/helm/angelnu.yaml
  kubernetes/main/flux/repositories/helm/backube.yaml
  kubernetes/main/flux/repositories/helm/bjw-s.yaml
  kubernetes/main/flux/repositories/helm/cilium.yaml
  kubernetes/main/flux/repositories/helm/coredns.yaml
  kubernetes/main/flux/repositories/helm/crunchydata.yaml
  kubernetes/main/flux/repositories/helm/external-secrets.yaml
  kubernetes/main/flux/repositories/helm/grafana.yaml
  kubernetes/main/flux/repositories/helm/ingress-nginx.yaml
  kubernetes/main/flux/repositories/helm/intel.yaml
  kubernetes/main/flux/repositories/helm/jetstack.yaml
  kubernetes/main/flux/repositories/helm/k8tz.yaml
  kubernetes/main/flux/repositories/helm/kubernetes-sigs-descheduler.yaml
  kubernetes/main/flux/repositories/helm/kubernetes-sigs-external-dns.yaml
  kubernetes/main/flux/repositories/helm/kubernetes-sigs-metrics-server.yaml
  kubernetes/main/flux/repositories/helm/kubernetes-sigs-nfd.yaml
  kubernetes/main/flux/repositories/helm/metallb.yaml
  kubernetes/main/flux/repositories/helm/openebs.yaml
  kubernetes/main/flux/repositories/helm/piraeus.yaml
  kubernetes/main/flux/repositories/helm/postfinance.yaml
  kubernetes/main/flux/repositories/helm/prometheus-community.yaml
  kubernetes/main/flux/repositories/helm/rook-ceph.yaml
  kubernetes/main/flux/repositories/helm/spegel.yaml
  kubernetes/main/flux/repositories/helm/stakater.yaml
  kubernetes/main/flux/repositories/helm/stevehipwell.yaml
  kubernetes/main/flux/repositories/helm/vector.yaml
Labels: none

Remove Renovate group
  .renovate/groups.json5
Labels: none

Do not remove crds if Flux is uninstalled
  kubernetes/main/apps/flux-system/flux/app/values.yaml
Labels: none

feat(flux): Disable pune on Flux KS
  kubernetes/main/flux/config/flux.yaml
Labels: none

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/clusters/**/*"
        - "k8s/global/**/*"
