Repository bjw-s-labs/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/clusters/**/*"
        - "k8s/global/**/*"

ci: Use different label verification action
  .github/workflows/meta-enforce-labels.yaml
Labels: area/github

ci: Remove the label checker entirely
  .github/workflows/meta-enforce-labels.yaml
Labels: area/github

ci: Remove the label checker entirely
  .github/workflows/meta-enforce-labels.yaml
Labels: area/github

chore(qbittorrent): Resources
  kubernetes/main/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: none

chore(qbittorrent): Resources
  kubernetes/main/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: none

feat(z2m): Disable watchdog
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: none

feat(z2m): Disable watchdog
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: none

Remove 4k from autoscan
  k8s/clusters/cluster-2/manifests/media/autoscan/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/media/autoscan/app/secret-autoscan-config.sops.yaml
Labels: area/kubernetes

Clean up the autoscan config Add priority for manual triggers
  k8s/clusters/cluster-2/manifests/media/autoscan/app/secret-autoscan-config.sops.yaml
Labels: area/kubernetes

Make autoscan use secrets file
  k8s/clusters/cluster-2/manifests/media/autoscan/app/helmrelease.yaml
Labels: area/kubernetes

feat(emqx): Deploy
  kubernetes/main/apps/database/emqx/cluster/cluster.yaml
  kubernetes/main/apps/database/emqx/cluster/ingress.yaml
  kubernetes/main/apps/database/emqx/cluster/kustomization.yaml
  kubernetes/main/apps/database/emqx/ks.yaml
  kubernetes/main/apps/database/emqx/operator/externalsecret.yaml
  kubernetes/main/apps/database/emqx/operator/helmrelease.yaml
  kubernetes/main/apps/database/emqx/operator/helmrepository.yaml
  kubernetes/main/apps/database/emqx/operator/kustomization.yaml
Labels: none

feat(emqx): Deploy
  kubernetes/main/apps/database/emqx/cluster/cluster.yaml
  kubernetes/main/apps/database/emqx/cluster/ingress.yaml
  kubernetes/main/apps/database/emqx/cluster/kustomization.yaml
  kubernetes/main/apps/database/emqx/ks.yaml
  kubernetes/main/apps/database/emqx/operator/externalsecret.yaml
  kubernetes/main/apps/database/emqx/operator/helmrelease.yaml
  kubernetes/main/apps/database/emqx/operator/helmrepository.yaml
  kubernetes/main/apps/database/emqx/operator/kustomization.yaml
Labels: none

feat(mosquitto)!: Archive
  .archive/kubernetes/mosquitto/app/config/mosquitto.conf
  .archive/kubernetes/mosquitto/app/externalsecret.yaml
  .archive/kubernetes/mosquitto/app/helmrelease.yaml
  .archive/kubernetes/mosquitto/app/kustomization.yaml
  .archive/kubernetes/mosquitto/ks.yaml
  kubernetes/main/apps/home-automation/kustomization.yaml
Labels: none

feat(mosquitto)!: Archive
  .archive/kubernetes/mosquitto/app/config/mosquitto.conf
  .archive/kubernetes/mosquitto/app/externalsecret.yaml
  .archive/kubernetes/mosquitto/app/helmrelease.yaml
  .archive/kubernetes/mosquitto/app/kustomization.yaml
  .archive/kubernetes/mosquitto/ks.yaml
  kubernetes/main/apps/home-automation/kustomization.yaml
Labels: none

feat(taskfile): Update Flux tasks
  .taskfiles/flux/Taskfile.yaml
Labels: none

feat(taskfile): Update Flux tasks
  .taskfiles/flux/Taskfile.yaml
Labels: none

feat(zigbee2mqtt-exporter): Update MQTT address
  kubernetes/main/apps/home-automation/zigbee2mqtt/exporter/externalsecret.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/exporter/helmrelease.yaml
Labels: none

feat(zigbee2mqtt-exporter): Update MQTT address
  kubernetes/main/apps/home-automation/zigbee2mqtt/exporter/externalsecret.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/exporter/helmrelease.yaml
Labels: none

feat(esphome): Update MQTT info
  kubernetes/main/apps/home-automation/esphome/app/externalsecret.yaml
Labels: none

feat(esphome): Update MQTT info
  kubernetes/main/apps/home-automation/esphome/app/externalsecret.yaml
Labels: none

fix(z2m): Fix KS dependency
  kubernetes/main/apps/home-automation/zigbee2mqtt/ks.yaml
Labels: none

fix(z2m): Fix KS dependency
  kubernetes/main/apps/home-automation/zigbee2mqtt/ks.yaml
Labels: none

fix(qbit): Use beta image to test lb2 fixes
  kubernetes/main/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: none

fix(qbit): Use beta image to test lb2 fixes
  kubernetes/main/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: none

Disable 4k sonarr
  k8s/clusters/cluster-2/manifests/downloads/kustomization.yaml
Labels: area/kubernetes

feat(hass): Migrate to rootless, add code-server
  kubernetes/main/apps/home-automation/home-assistant/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: none

feat(hass): Migrate to rootless, add code-server
  kubernetes/main/apps/home-automation/home-assistant/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: none

chore(taskfile): Simplify k8s pod cleanup
  .taskfiles/k8s/Taskfile.yaml
Labels: none

feat(esphome): Rootless, add code-server
  kubernetes/main/apps/home-automation/esphome/app/helmrelease.yaml
Labels: none

chore(taskfile): Simplify k8s pod cleanup
  .taskfiles/k8s/Taskfile.yaml
Labels: none

feat(esphome): Rootless, add code-server
  kubernetes/main/apps/home-automation/esphome/app/helmrelease.yaml
Labels: none

feat(code-server): Change data folder
  kubernetes/main/apps/home-automation/esphome/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: none

feat(code-server): Change data folder
  kubernetes/main/apps/home-automation/esphome/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: none

Upgraded talos and k8s removed old cluster-1
  talos/cluster-1/integrations/cni/kustomization.yaml
  talos/cluster-2/talconfig.yaml
Labels: none

Add 2 scripts that hlped me combine *arr services
  hack/Random Scripts/postgresSQL radarr migration.py
  hack/Random Scripts/sonarr api migration.py
Labels: none

Add some useful debug pods
  .vscode/launch.json
  k8s/clusters/cluster-2/manifests/debug/pgloader.yaml
  k8s/clusters/cluster-2/manifests/debug/ubuntu.yaml
Labels: area/kubernetes

feat(code-server): Disable telemetry
  kubernetes/main/apps/home-automation/esphome/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: none

feat(code-server): Disable telemetry
  kubernetes/main/apps/home-automation/esphome/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: none

Cleanup
  k8s/clusters/cluster-2/manifests/downloads/kustomization.yaml
  k8s/clusters/cluster-2/manifests/downloads/radarr-4k/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/downloads/radarr-4k/app/kustomization.yaml
  k8s/clusters/cluster-2/manifests/downloads/radarr-4k/app/pvc.yaml
  k8s/clusters/cluster-2/manifests/downloads/radarr-4k/app/secret.sops.yaml
  k8s/clusters/cluster-2/manifests/downloads/radarr-4k/ks.yaml
  k8s/clusters/cluster-2/manifests/downloads/sonarr-4k/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/downloads/sonarr-4k/app/kustomization.yaml
  k8s/clusters/cluster-2/manifests/downloads/sonarr-4k/app/pvc.yaml
  k8s/clusters/cluster-2/manifests/downloads/sonarr-4k/app/secret.sops.yaml
  k8s/clusters/cluster-2/manifests/downloads/sonarr-4k/ks.yaml
Labels: area/kubernetes

Fix radarr qualtities
  k8s/clusters/cluster-2/manifests/downloads/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes
