Repository bjw-s-labs/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes

feat(cilium): Update config
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
Labels: none

feat(cilium): Update config
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
Labels: none

feat(cilium): Update config
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
Labels: none

feat(cilium): Update config
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
Labels: none

feat(cilium): Update config
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
Labels: none

feat(cilium): Update config
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
Labels: none

feat(cilium): Update config
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
Labels: none

fix(flux): Use upstream schema
  kubernetes/main/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/main/apps/database/crunchy-postgres-operator/operator/helmrelease.yaml
  kubernetes/main/apps/database/crunchy-postgres-operator/userinit-controller/helmrelease.yaml
  kubernetes/main/apps/database/emqx/operator/helmrelease.yaml
  kubernetes/main/apps/dev/actions-runner-controller/operator/helmrelease.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/bjw-s-labs.yaml
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/blackbox-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-state-metrics/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/node-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/prometheus-operator/crds/helmrelease.yaml
  kubernetes/main/apps/monitoring/smartctl-exporter/app/helmrelease.yaml
  kubernetes/main/apps/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/main/apps/network/external-dns/unifi/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
  kubernetes/main/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/main/apps/system-controllers/k8tz/app/helmrelease.yaml
  kubernetes/main/apps/system-controllers/kubelet-csr-approver/app/helmrelease.yaml
  kubernetes/main/apps/system-controllers/snapshot-controller/app/helmrelease.yaml
  kubernetes/main/apps/system/descheduler/app/helmrelease.yaml
  kubernetes/main/apps/system/intel-device-plugins/gpu/helmrelease.yaml
  kubernetes/main/apps/system/intel-device-plugins/operator/helmrelease.yaml
  kubernetes/main/apps/system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/main/apps/system/reloader/app/helmrelease.yaml
  kubernetes/main/apps/system/spegel/app/helmrelease.yaml
  kubernetes/main/apps/system/volsync/app/helmrelease.yaml
Labels: none

fix(flux): Use upstream schema
  kubernetes/main/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/main/apps/database/crunchy-postgres-operator/operator/helmrelease.yaml
  kubernetes/main/apps/database/crunchy-postgres-operator/userinit-controller/helmrelease.yaml
  kubernetes/main/apps/database/emqx/operator/helmrelease.yaml
  kubernetes/main/apps/dev/actions-runner-controller/operator/helmrelease.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/bjw-s-labs.yaml
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/blackbox-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-state-metrics/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/node-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/prometheus-operator/crds/helmrelease.yaml
  kubernetes/main/apps/monitoring/smartctl-exporter/app/helmrelease.yaml
  kubernetes/main/apps/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/main/apps/network/external-dns/unifi/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/main/apps/openebs/openebs/app/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
  kubernetes/main/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/main/apps/system-controllers/k8tz/app/helmrelease.yaml
  kubernetes/main/apps/system-controllers/kubelet-csr-approver/app/helmrelease.yaml
  kubernetes/main/apps/system-controllers/snapshot-controller/app/helmrelease.yaml
  kubernetes/main/apps/system/descheduler/app/helmrelease.yaml
  kubernetes/main/apps/system/intel-device-plugins/gpu/helmrelease.yaml
  kubernetes/main/apps/system/intel-device-plugins/operator/helmrelease.yaml
  kubernetes/main/apps/system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/main/apps/system/reloader/app/helmrelease.yaml
  kubernetes/main/apps/system/spegel/app/helmrelease.yaml
  kubernetes/main/apps/system/volsync/app/helmrelease.yaml
Labels: none

feat(gh-safe-settings)!: Archive
  .archive/kubernetes/gh-safe-settings/app/config/deployment-settings.yml
  .archive/kubernetes/gh-safe-settings/app/externalsecret.yaml
  .archive/kubernetes/gh-safe-settings/app/helmrelease.yaml
  .archive/kubernetes/gh-safe-settings/app/kustomization.yaml
  .archive/kubernetes/gh-safe-settings/ks.yaml
  kubernetes/main/apps/dev/kustomization.yaml
Labels: none

feat(gh-safe-settings)!: Archive
  .archive/kubernetes/gh-safe-settings/app/config/deployment-settings.yml
  .archive/kubernetes/gh-safe-settings/app/externalsecret.yaml
  .archive/kubernetes/gh-safe-settings/app/helmrelease.yaml
  .archive/kubernetes/gh-safe-settings/app/kustomization.yaml
  .archive/kubernetes/gh-safe-settings/ks.yaml
  kubernetes/main/apps/dev/kustomization.yaml
Labels: none

feat(arc)!: Move to dedicated NS
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/operator/externalsecret.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/operator/helmrelease.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/operator/kustomization.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/bjw-s-labs.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/rbac.yaml
  kubernetes/main/apps/actions-runner-system/kustomization.yaml
  kubernetes/main/apps/actions-runner-system/namespace.yaml
  kubernetes/main/talos/talconfig.yaml
Labels: none

feat(arc)!: Move to dedicated NS
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/operator/externalsecret.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/operator/helmrelease.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/operator/kustomization.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/bjw-s-labs.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/rbac.yaml
  kubernetes/main/apps/actions-runner-system/kustomization.yaml
  kubernetes/main/apps/actions-runner-system/namespace.yaml
  kubernetes/main/talos/talconfig.yaml
Labels: none

feat(arc): Add home-ops runnerSet
  .actionlint.yml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/bjw-s-labs-home-ops.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
Labels: none

feat(arc): Add home-ops runnerSet
  .actionlint.yml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/bjw-s-labs-home-ops.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
Labels: none

ci: Jump on to the pre-pull bandwagon
  .github/workflows/pre-pull-images.yaml
Labels: area/github

ci: Jump on to the pre-pull bandwagon
  .github/workflows/pre-pull-images.yaml
Labels: area/github

[Talos] Fix bonding Add bonding to other nodes Remove unneeded kernel args
  talos/cluster-2/talconfig.yaml
Labels: none

[Cilium] Add prometheus monitoring Change service host to an IP address Added loadbalancer acceleration
  k8s/clusters/cluster-2/manifests/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

[Ceph] Lower crash collector CPU requests to allow it to run on all nodes
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

ci: Fix pre-pull images
  .github/workflows/pre-pull-images.yaml
Labels: area/github

ci: Fix pre-pull images
  .github/workflows/pre-pull-images.yaml
Labels: area/github

fix(nginx): Override annotations-risk-level
  kubernetes/main/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: none

fix(nginx): Override annotations-risk-level
  kubernetes/main/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: none

feat(arc): Try the kubernetes mode
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/bjw-s-labs-home-ops.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/bjw-s-labs.yaml
Labels: none

feat(arc): Try the kubernetes mode
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/bjw-s-labs-home-ops.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/bjw-s-labs.yaml
Labels: none

feat(intel-gpu-plugin): Depend on NFD again
  kubernetes/main/apps/system/intel-device-plugins/gpu/helmrelease.yaml
  kubernetes/main/apps/system/intel-device-plugins/ks.yaml
  kubernetes/main/apps/system/intel-device-plugins/operator/helmrelease.yaml
Labels: none

feat(intel-gpu-plugin): Depend on NFD again
  kubernetes/main/apps/system/intel-device-plugins/gpu/helmrelease.yaml
  kubernetes/main/apps/system/intel-device-plugins/ks.yaml
  kubernetes/main/apps/system/intel-device-plugins/operator/helmrelease.yaml
Labels: none

feat(dsmr-reader)!: Archive
  .archive/kubernetes/dsmr-reader/app/externalsecret.yaml
  .archive/kubernetes/dsmr-reader/app/helmrelease.yaml
  .archive/kubernetes/dsmr-reader/app/kustomization.yaml
  .archive/kubernetes/dsmr-reader/ks.yaml
  .renovate/versioning.json5
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
  kubernetes/main/apps/home-automation/esphome/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/kustomization.yaml
Labels: none

feat(dsmr-reader)!: Archive
  .archive/kubernetes/dsmr-reader/app/externalsecret.yaml
  .archive/kubernetes/dsmr-reader/app/helmrelease.yaml
  .archive/kubernetes/dsmr-reader/app/kustomization.yaml
  .archive/kubernetes/dsmr-reader/ks.yaml
  .renovate/versioning.json5
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
  kubernetes/main/apps/home-automation/esphome/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/kustomization.yaml
Labels: none

feat(hoarder): Deploy
  kubernetes/main/apps/selfhosted/hoarder/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/hoarder/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/hoarder/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/hoarder/ks.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
Labels: none

feat(hoarder): Deploy
  kubernetes/main/apps/selfhosted/hoarder/app/externalsecret.yaml
  kubernetes/main/apps/selfhosted/hoarder/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/hoarder/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/hoarder/ks.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
Labels: none

feat(wallabag)!: Archive
  .archive/kubernetes/wallabag/app/externalsecret.yaml
  .archive/kubernetes/wallabag/app/helmrelease.yaml
  .archive/kubernetes/wallabag/app/kustomization.yaml
  .archive/kubernetes/wallabag/ks.yaml
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
Labels: none

feat(wallabag)!: Archive
  .archive/kubernetes/wallabag/app/externalsecret.yaml
  .archive/kubernetes/wallabag/app/helmrelease.yaml
  .archive/kubernetes/wallabag/app/kustomization.yaml
  .archive/kubernetes/wallabag/ks.yaml
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
Labels: none

fix(hoarder): Search resources
  kubernetes/main/apps/selfhosted/hoarder/app/helmrelease.yaml
Labels: none

fix(hoarder): Search resources
  kubernetes/main/apps/selfhosted/hoarder/app/helmrelease.yaml
Labels: none

[Ceph] Use new 1TB disk
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

ci: Update workflows
  .github/workflows/flux-diff.yaml
  .github/workflows/pre-pull-images.yaml
Labels: area/github

ci: Update workflows
  .github/workflows/flux-diff.yaml
  .github/workflows/pre-pull-images.yaml
Labels: area/github

fix(z2m): Add NET_BIND_SERVICE capability
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: none

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/clusters/**/*"
        - "k8s/global/**/*"
