Repository bjw-s-labs/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/clusters/**/*"
        - "k8s/global/**/*"

feat(emqx): 2 replicas should suffice
  kubernetes/main/apps/database/emqx/cluster/cluster.yaml
Labels: none

fix(plex): Probes
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
Labels: none

fix(plex): Probes
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
Labels: none

feat(recyclarr): Update config
  kubernetes/main/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: none

feat(recyclarr): Update config
  kubernetes/main/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: none

ci: You win @JJGadgets, moved config files to root
  .actionlint.yml
  .ci/flake8/.flake8
  .github/renovate.json5
  .github/workflows/lint.yaml
  .markdownlint.yaml
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.yaml
  .renovate/allowedVersions.json5
  .renovate/autoMerge.json5
  .renovate/clusters.json5
  .renovate/grafanaDashboards.json5
  .renovate/groups.json5
  .renovate/versioning.json5
  .vscode/settings.json
  .yamllint.yaml
  renovate.json5
Labels: area/github

ci: You win @JJGadgets, moved config files to root
  .actionlint.yml
  .ci/flake8/.flake8
  .github/renovate.json5
  .github/workflows/lint.yaml
  .markdownlint.yaml
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.yaml
  .renovate/allowedVersions.json5
  .renovate/autoMerge.json5
  .renovate/clusters.json5
  .renovate/grafanaDashboards.json5
  .renovate/groups.json5
  .renovate/versioning.json5
  .vscode/settings.json
  .yamllint.yaml
  renovate.json5
Labels: area/github

feat(fstrim)!: Unarchive
  kubernetes/main/apps/system/fstrim/app/helmrelease.yaml
  kubernetes/main/apps/system/fstrim/app/kustomization.yaml
  kubernetes/main/apps/system/fstrim/ks.yaml
  kubernetes/main/apps/system/kustomization.yaml
Labels: none

feat(fstrim)!: Unarchive
  kubernetes/main/apps/system/fstrim/app/helmrelease.yaml
  kubernetes/main/apps/system/fstrim/app/kustomization.yaml
  kubernetes/main/apps/system/fstrim/ks.yaml
  kubernetes/main/apps/system/kustomization.yaml
Labels: none

feat(nginx): Make the annotations go away
  kubernetes/main/apps/database/emqx/cluster/ingress.yaml
  kubernetes/main/apps/dev/gh-safe-settings/app/helmrelease.yaml
  kubernetes/main/apps/downloads/autobrr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/main/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/dsmr-reader/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/esphome/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/scrypted/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/main/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/main/apps/media/maintainerr/app/helmrelease.yaml
  kubernetes/main/apps/media/piped/app/helmrelease.yaml
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
  kubernetes/main/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/alertmanager/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/network/echo-server/app/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/main/apps/network/openspeedtest/app/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/main/apps/selfhosted/actual/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/atuin/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/it-tools/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/manyfold/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/miniflux/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/node-red/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/ocis/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/paperless/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/searxng/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/wallabag/app/helmrelease.yaml
Labels: none

feat(nginx): Make the annotations go away
  kubernetes/main/apps/database/emqx/cluster/ingress.yaml
  kubernetes/main/apps/dev/gh-safe-settings/app/helmrelease.yaml
  kubernetes/main/apps/downloads/autobrr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/main/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/dsmr-reader/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/esphome/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/scrypted/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/main/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/main/apps/media/maintainerr/app/helmrelease.yaml
  kubernetes/main/apps/media/piped/app/helmrelease.yaml
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
  kubernetes/main/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/alertmanager/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/network/echo-server/app/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/main/apps/network/openspeedtest/app/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/main/apps/selfhosted/actual/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/atuin/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/it-tools/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/manyfold/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/miniflux/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/node-red/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/ocis/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/paperless/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/searxng/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/vikunja/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/wallabag/app/helmrelease.yaml
Labels: none

fix(docs): Update README badges
  README.md
Labels: none

fix(docs): Update README badges
  README.md
Labels: none

fix(external-dns): Use events for unifi external-dns
  kubernetes/main/apps/network/external-dns/unifi/helmrelease.yaml
Labels: none

fix(external-dns): Use events for unifi external-dns
  kubernetes/main/apps/network/external-dns/unifi/helmrelease.yaml
Labels: none

feat(external-dns)!: Rename `external` to `cloudflare`
  kubernetes/main/apps/network/external-dns/cloudflare/externalsecret.yaml
  kubernetes/main/apps/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/main/apps/network/external-dns/cloudflare/kustomization.yaml
  kubernetes/main/apps/network/external-dns/ks.yaml
Labels: none

feat(external-dns)!: Rename `external` to `cloudflare`
  kubernetes/main/apps/network/external-dns/cloudflare/externalsecret.yaml
  kubernetes/main/apps/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/main/apps/network/external-dns/cloudflare/kustomization.yaml
  kubernetes/main/apps/network/external-dns/ks.yaml
Labels: none

fix(zigbee2mqtt): Fix hass integration variables
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: none

fix(zigbee2mqtt): Fix hass integration variables
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: none

fix(piped-scripts): Increase sleep between feeds
  kubernetes/main/apps/media/piped/app/helmrelease.yaml
Labels: none

fix(piped-scripts): Increase sleep between feeds
  kubernetes/main/apps/media/piped/app/helmrelease.yaml
Labels: none

Disable thanos
  k8s/clusters/cluster-2/manifests/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/monitoring/kustomization.yaml
Labels: area/kubernetes

Update HASS and code server
  k8s/clusters/cluster-2/manifests/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Disable exgernal alert manager
  k8s/clusters/cluster-2/manifests/monitoring/kube-prometheus-stack/app/configs/alertmanager.yml
  k8s/clusters/cluster-2/manifests/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/monitoring/kube-prometheus-stack/app/kustomization.yaml
  k8s/clusters/cluster-2/manifests/monitoring/kustomization.yaml
Labels: area/kubernetes

Fix ingress class name
  k8s/clusters/cluster-2/manifests/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Fix grafana to use new source
  k8s/clusters/cluster-2/manifests/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

Add code server port for ingress
  k8s/clusters/cluster-2/manifests/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Unused webhook
  k8s/clusters/cluster-2/manifests/system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

Remove old dep
  k8s/clusters/cluster-2/manifests/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

fix(snapshot-controller): Remove obsolete webhook resources
  kubernetes/main/apps/system-controllers/snapshot-controller/app/helmrelease.yaml
  kubernetes/main/apps/system-controllers/snapshot-controller/app/kustomization.yaml
  kubernetes/main/apps/system-controllers/snapshot-controller/app/pki.yaml
Labels: none

fix(snapshot-controller): Remove obsolete webhook resources
  kubernetes/main/apps/system-controllers/snapshot-controller/app/helmrelease.yaml
  kubernetes/main/apps/system-controllers/snapshot-controller/app/kustomization.yaml
  kubernetes/main/apps/system-controllers/snapshot-controller/app/pki.yaml
Labels: none

fix(snapshot-controller): downgrade to 3.0.6
  kubernetes/main/apps/system-controllers/snapshot-controller/app/helmrelease.yaml
Labels: none

fix(snapshot-controller): downgrade to 3.0.6
  kubernetes/main/apps/system-controllers/snapshot-controller/app/helmrelease.yaml
Labels: none

fix(external-dns): Use triggerLoopOnEvent
  kubernetes/main/apps/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/main/apps/network/external-dns/unifi/helmrelease.yaml
Labels: none

fix(external-dns): Use triggerLoopOnEvent
  kubernetes/main/apps/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/main/apps/network/external-dns/unifi/helmrelease.yaml
Labels: none

Revert
  k8s/clusters/cluster-2/manifests/system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

Lower replicas
  k8s/clusters/cluster-2/manifests/system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

Deploy loki
  k8s/clusters/cluster-2/manifests/monitoring/kustomization.yaml
  k8s/clusters/cluster-2/manifests/monitoring/loki/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/monitoring/loki/app/kustomization.yaml
  k8s/clusters/cluster-2/manifests/monitoring/loki/ks.yaml
Labels: area/kubernetes

Try to kick start?
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Move grafana repo to global and rename
  k8s/clusters/cluster-2/manifests/monitoring/grafana/app/helmrelease.yaml
  k8s/global/flux/repositories/helm/grafana.yaml
  k8s/global/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes
