Repository bjw-s-labs/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/clusters/**/*"
        - "k8s/global/**/*"

[Kometa] Trakt auth
  k8s/clusters/cluster-2/flux/vars/cluster-secrets.sops.yaml
  k8s/clusters/cluster-2/manifests/media/kometa/app/resources/config.yml
Labels: area/kubernetes

fix(grafana): Silence NodeMemoryHighUtilization for NAS
  kubernetes/main/apps/monitoring/silence-operator/silences/gladius_memory_usage.yaml
  kubernetes/main/apps/monitoring/silence-operator/silences/kustomization.yaml
Labels: none

fix(grafana): Silence NodeMemoryHighUtilization for NAS
  kubernetes/main/apps/monitoring/silence-operator/silences/gladius_memory_usage.yaml
  kubernetes/main/apps/monitoring/silence-operator/silences/kustomization.yaml
Labels: none

feat(mailbackup): Replace NFS path
  kubernetes/main/apps/scripts/mailbackup/app/helmrelease.yaml
Labels: none

feat(mailbackup): Replace NFS path
  kubernetes/main/apps/scripts/mailbackup/app/helmrelease.yaml
Labels: none

feat(paperless): Replace NFS path
  kubernetes/main/apps/selfhosted/paperless/app/helmrelease.yaml
Labels: none

feat(paperless): Replace NFS path
  kubernetes/main/apps/selfhosted/paperless/app/helmrelease.yaml
Labels: none

fix(grafana): Linting errors
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: none

fix(grafana): Linting errors
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
Labels: none

Disable VG snapshot
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
  kubernetes/main/apps/system-controllers/snapshot-controller/app/helmrelease.yaml
Labels: none

fix(cloudflared): Wrong dependsOn name
  kubernetes/main/apps/network/cloudflared/ks.yaml
Labels: none

fix(cloudflared): Wrong dependsOn name
  kubernetes/main/apps/network/cloudflared/ks.yaml
Labels: none

[Prometheus] Add relabeling for k8s stuff so I see node name instead of IP address
  k8s/clusters/cluster-2/manifests/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

[Prometheus] Fix indentation
  k8s/clusters/cluster-2/manifests/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(ARC): Enable drift detection
  kubernetes/main/apps/dev/actions-runner-controller/operator/helmrelease.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/bjw-s-labs.yaml
Labels: none

feat(ARC): Enable drift detection
  kubernetes/main/apps/dev/actions-runner-controller/operator/helmrelease.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/bjw-s-labs.yaml
Labels: none

feat(multus)!: Move to thin
  kubernetes/main/apps/home-automation/esphome/ks.yaml
  kubernetes/main/apps/home-automation/home-assistant/ks.yaml
  kubernetes/main/apps/home-automation/scrypted/ks.yaml
  kubernetes/main/apps/network/multus/app/crd.yaml
  kubernetes/main/apps/network/multus/app/helmrelease.yaml
  kubernetes/main/apps/network/multus/app/kustomization.yaml
  kubernetes/main/apps/network/multus/app/rbac.yaml
  kubernetes/main/apps/network/multus/app/resources/00-multus.conf
  kubernetes/main/apps/network/multus/ks.yaml
  kubernetes/main/apps/network/multus/networks/iot.yaml
  kubernetes/main/apps/network/multus/networks/kustomization.yaml
Labels: none

feat(multus)!: Move to thin
  kubernetes/main/apps/home-automation/esphome/ks.yaml
  kubernetes/main/apps/home-automation/home-assistant/ks.yaml
  kubernetes/main/apps/home-automation/scrypted/ks.yaml
  kubernetes/main/apps/network/multus/app/crd.yaml
  kubernetes/main/apps/network/multus/app/helmrelease.yaml
  kubernetes/main/apps/network/multus/app/kustomization.yaml
  kubernetes/main/apps/network/multus/app/rbac.yaml
  kubernetes/main/apps/network/multus/app/resources/00-multus.conf
  kubernetes/main/apps/network/multus/ks.yaml
  kubernetes/main/apps/network/multus/networks/iot.yaml
  kubernetes/main/apps/network/multus/networks/kustomization.yaml
Labels: none

[NFS] fix depreciated key
  k8s/clusters/cluster-2/manifests/system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

revert kube prom stack
  k8s/clusters/cluster-2/manifests/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

Fix indentation
  k8s/clusters/cluster-2/manifests/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

[Prom] Upgrade
  k8s/clusters/cluster-2/manifests/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(suc): Add tolerations to operator
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: none

feat(suc): Add tolerations to operator
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: none

fix(suc): Update plans
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: none

fix(suc): Update plans
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: none

fix(talos): Update config
  kubernetes/main/talos/talconfig.yaml
Labels: none

fix(talos): Update config
  kubernetes/main/talos/talconfig.yaml
Labels: none

feat(nfd): It's back!
  .archive/kubernetes/node-feature-discovery/ks.yaml
  .archive/kubernetes/node-feature-discovery/rules/nodefeaturerule.yaml
  kubernetes/main/apps/system/kustomization.yaml
  kubernetes/main/apps/system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/main/apps/system/node-feature-discovery/app/kustomization.yaml
  kubernetes/main/apps/system/node-feature-discovery/ks.yaml
Labels: none

feat(nfd): It's back!
  .archive/kubernetes/node-feature-discovery/ks.yaml
  .archive/kubernetes/node-feature-discovery/rules/nodefeaturerule.yaml
  kubernetes/main/apps/system/kustomization.yaml
  kubernetes/main/apps/system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/main/apps/system/node-feature-discovery/app/kustomization.yaml
  kubernetes/main/apps/system/node-feature-discovery/ks.yaml
Labels: none

fix(talos): cannot read all nodes
  kubernetes/main/talos/talconfig.yaml
Labels: none

fix(talos): cannot read all nodes
  kubernetes/main/talos/talconfig.yaml
Labels: none

fix(talos): Update talconfig
  kubernetes/main/talos/talconfig.yaml
Labels: none

fix(talos): Update talconfig
  kubernetes/main/talos/talconfig.yaml
Labels: none

[NFD] Remove CPU requests
  k8s/clusters/cluster-2/manifests/system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

feat: Move back to cluster webhook for ks sync
  .github/workflows/flux-ks-sync.yaml
  kubernetes/main/apps/flux-system/add-ons/app/webhooks/github/externalsecret.yaml
  kubernetes/main/apps/flux-system/add-ons/app/webhooks/github/ingress.yaml
  kubernetes/main/apps/flux-system/add-ons/app/webhooks/github/kustomization.yaml
  kubernetes/main/apps/flux-system/add-ons/app/webhooks/github/receiver.yaml
  kubernetes/main/apps/flux-system/add-ons/app/webhooks/kustomization.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/rbac.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/github

feat: Move back to cluster webhook for ks sync
  .github/workflows/flux-ks-sync.yaml
  kubernetes/main/apps/flux-system/add-ons/app/webhooks/github/externalsecret.yaml
  kubernetes/main/apps/flux-system/add-ons/app/webhooks/github/ingress.yaml
  kubernetes/main/apps/flux-system/add-ons/app/webhooks/github/kustomization.yaml
  kubernetes/main/apps/flux-system/add-ons/app/webhooks/github/receiver.yaml
  kubernetes/main/apps/flux-system/add-ons/app/webhooks/kustomization.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/app/rbac.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/main/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/github

feat(cilium): Enable netkit
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
Labels: none

feat(cilium): Enable netkit
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
Labels: none

feat(cilium): Update config
  kubernetes/main/apps/kube-system/cilium/app/values.yaml
Labels: none
