Repository bjw-s-labs/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/clusters/**/*"
        - "k8s/global/**/*"

Forgot to commit this Actually enables thanos
  k8s/clusters/cluster-2/manifests/monitoring/kustomization.yaml
Labels: area/kubernetes

Dont use cluster sub domain
  k8s/clusters/cluster-2/manifests/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

Remove sub domains
  k8s/clusters/cluster-2/manifests/downloads/radarr/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/downloads/sabnzbd/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/downloads/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

Remove sub-domain
  k8s/clusters/cluster-2/manifests/media/autoscan/app/helmrelease.yaml
Labels: area/kubernetes

Add S3 cert
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/certificate.yaml
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/kustomization.yaml
Labels: area/kubernetes

Add S3 SSL
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Add endpoint for SSL cert to work properly
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Remove secure connection Its SSL-ed via nginx anyway
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Enable monitoring?
  k8s/clusters/cluster-2/manifests/database/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes

Make the legend be a table
  k8s/clusters/cluster-2/manifests/monitoring/grafana/app/dashboard/temperature.json
Labels: area/kubernetes

Try deploying frigate
  k8s/clusters/cluster-2/manifests/home-automation/frigate/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/home-automation/kustomization.yaml
Labels: area/kubernetes

Add PVC I guess
  k8s/clusters/cluster-2/manifests/home-automation/frigate/app/kustomization.yaml
  k8s/clusters/cluster-2/manifests/home-automation/frigate/app/pvc.yaml
Labels: area/kubernetes

Manually create PVC
  k8s/clusters/cluster-2/manifests/home-automation/frigate/app/kustomization.yaml
Labels: area/kubernetes

Need to fix node-discovery first It isnt detecting the Coral
  k8s/clusters/cluster-2/manifests/home-automation/kustomization.yaml
Labels: area/kubernetes

feat(zigbee2mqtt): Use EMQX, update config, add code-server
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: none

feat(zigbee2mqtt): Use EMQX, update config, add code-server
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: none

Remove subdomain from plex
  k8s/clusters/cluster-2/manifests/media/plex/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/media/plex/app/kustomization.yaml
Labels: area/kubernetes

Remove the last of the nested sub domains
  k8s/clusters/cluster-2/manifests/downloads/bazarr/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/downloads/lidarr/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/downloads/overseerr/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/downloads/radarr/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/downloads/sabnzbd/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/downloads/sonarr/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/home-automation/home-assistant/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/media/autoscan/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/media/plex/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/media/tautulli/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/monitoring/grafana/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/network/cloudflared/app/config/config.yaml
  k8s/clusters/cluster-2/manifests/network/external-dns/shared/dnsEndpoint.yaml
  k8s/clusters/cluster-2/manifests/network/ingress-nginx/external/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

feat(qbittorrent): Migrate Gluetun to sidecar container
  kubernetes/main/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: none

feat(qbittorrent): Migrate Gluetun to sidecar container
  kubernetes/main/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: none

feat(taskfile): Leverage wildcard arguments for Flux KS task
  .taskfiles/flux/Taskfile.yaml
Labels: none

feat(taskfile): Leverage wildcard arguments for Flux KS task
  .taskfiles/flux/Taskfile.yaml
Labels: none

fix(generic-device-plugin): Fix controller name
  kubernetes/main/apps/system/generic-device-plugin/app/helmrelease.yaml
Labels: none

fix(generic-device-plugin): Fix controller name
  kubernetes/main/apps/system/generic-device-plugin/app/helmrelease.yaml
Labels: none

feat(home-assistant): Clean up deployment
  kubernetes/main/apps/home-automation/home-assistant/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/kustomization.yaml
Labels: none

feat(home-assistant): Clean up deployment
  kubernetes/main/apps/home-automation/home-assistant/app/externalsecret.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/kustomization.yaml
Labels: none

feat(go2rtc): Deploy
  kubernetes/main/apps/home-automation/go2rtc/app/config/go2rtc.yaml
  kubernetes/main/apps/home-automation/go2rtc/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/go2rtc/app/kustomization.yaml
  kubernetes/main/apps/home-automation/go2rtc/ks.yaml
  kubernetes/main/apps/home-automation/kustomization.yaml
Labels: none

feat(go2rtc): Deploy
  kubernetes/main/apps/home-automation/go2rtc/app/config/go2rtc.yaml
  kubernetes/main/apps/home-automation/go2rtc/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/go2rtc/app/kustomization.yaml
  kubernetes/main/apps/home-automation/go2rtc/ks.yaml
  kubernetes/main/apps/home-automation/kustomization.yaml
Labels: none

fix(go2rtc): Add podAffinity
  kubernetes/main/apps/home-automation/go2rtc/app/helmrelease.yaml
Labels: none

fix(go2rtc): Add podAffinity
  kubernetes/main/apps/home-automation/go2rtc/app/helmrelease.yaml
Labels: none

Add some k8s monitoring
  k8s/clusters/cluster-2/manifests/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

Use chart image
  k8s/clusters/cluster-2/manifests/monitoring/smartctl-exporter/app/helmrelease.yaml
Labels: area/kubernetes

allow etcd logging
  talos/cluster-2/talconfig.yaml
Labels: none

fix: Fix linting warnings
  kubernetes/main/apps/home-automation/esphome/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: none

fix: Fix linting warnings
  kubernetes/main/apps/home-automation/esphome/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/main/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: none

chore(renovate): Update config
  .github/renovate/groups.json5
Labels: area/github

chore(renovate): Update config
  .github/renovate/groups.json5
Labels: area/github

feat(mmp)!: Archive
  .archive/kubernetes/maker-management-platform/app/helmrelease.yaml
  .archive/kubernetes/maker-management-platform/app/kustomization.yaml
  .archive/kubernetes/maker-management-platform/ks.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
Labels: none

feat(mmp)!: Archive
  .archive/kubernetes/maker-management-platform/app/helmrelease.yaml
  .archive/kubernetes/maker-management-platform/app/kustomization.yaml
  .archive/kubernetes/maker-management-platform/ks.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
Labels: none

Dont drop metrics
  k8s/clusters/cluster-2/manifests/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes
