Repository bjw-s-labs/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/clusters/**/*"
        - "k8s/global/**/*"

Cant unlock a repo that doesnt exist
  k8s/templates/volsync/r2.yaml
Labels: none

Terst update to app-template
  k8s/clusters/cluster-2/manifests/downloads/bazarr/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/downloads/lidarr/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/downloads/overseerr/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

Fix env vars for *arr instances
  k8s/clusters/cluster-2/manifests/downloads/radarr-4k/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/downloads/radarr-4k/ks.yaml
  k8s/clusters/cluster-2/manifests/downloads/radarr/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/downloads/radarr/ks.yaml
  k8s/clusters/cluster-2/manifests/downloads/sonarr-4k/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/downloads/sonarr-4k/ks.yaml
  k8s/clusters/cluster-2/manifests/downloads/sonarr/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/downloads/sonarr/ks.yaml
Labels: area/kubernetes

Add sub cleaner to bazarr Move around UIDs to default
  k8s/clusters/cluster-2/manifests/downloads/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

Fix runAsGroup Had a typo
  k8s/clusters/cluster-2/manifests/downloads/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

Add more subcleaner resources
  k8s/clusters/cluster-2/manifests/downloads/bazarr/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/downloads/bazarr/app/kustomization.yaml
  k8s/clusters/cluster-2/manifests/downloads/bazarr/app/resources/subcleaner.sh
Labels: area/kubernetes

Disable readiness to test
  k8s/clusters/cluster-2/manifests/downloads/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

Disable backups to internal S3 storage Using Cloudflare R2 now
  k8s/templates/volsync/kustomization.yaml
Labels: none

Backup CNPG directly to R2
  k8s/clusters/cluster-2/flux/vars/cluster-secrets.sops.yaml
  k8s/clusters/cluster-2/manifests/database/cloudnative-pg/cluster/cluster16.yaml
  k8s/clusters/cluster-2/manifests/database/cloudnative-pg/cluster/secret.sops.yaml
Labels: area/kubernetes

Add bonds to a bunch of talos nodes
  talos/cluster-2/talconfig.yaml
Labels: none

Fix health check for CNPG
  k8s/clusters/cluster-2/manifests/database/cloudnative-pg/ks.yaml
Labels: area/kubernetes

Disabled until I get more CPU power
  k8s/clusters/cluster-2/manifests/home-automation/kustomization.yaml
Labels: area/kubernetes

Remove the health check Doesnt seem to work for cluster APIs
  k8s/clusters/cluster-2/manifests/database/cloudnative-pg/ks.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/kashalls/external-dns-unifi-webhook ( v0.2.2 → v0.2.3 ) (#7164)
  kubernetes/main/apps/network/external-dns/unifi/helmrelease.yaml
Labels: none

fix(container): update image ghcr.io/kashalls/external-dns-unifi-webhook ( v0.2.2 → v0.2.3 ) (#7164)
  kubernetes/main/apps/network/external-dns/unifi/helmrelease.yaml
Labels: none

fix(container): update image ghcr.io/jorenn92/maintainerr ( 2.1.0 → 2.1.1 ) (#7165)
  kubernetes/main/apps/media/maintainerr/app/helmrelease.yaml
Labels: none

fix(container): update image ghcr.io/jorenn92/maintainerr ( 2.1.0 → 2.1.1 ) (#7165)
  kubernetes/main/apps/media/maintainerr/app/helmrelease.yaml
Labels: none

fix: Move to organization
  .archive/terraform/unifi/main.tf
  .github/renovate.json5
  README.md
  docs/book.toml
  docs/src/kubernetes/gitops.md
  docs/src/kubernetes/index.md
  docs/src/kubernetes/storage.md
  docs/src/notes-ramblings/howto/mixed-protocol-service.md
  docs/src/notes-ramblings/howto/pod-multihome.md
  kubernetes/main/apps/dev/actions-runner-controller/runners/home-ops.yaml
  kubernetes/main/flux/config/cluster.yaml
  mkdocs.yaml
Labels: area/github

fix: Move to organization
  .archive/terraform/unifi/main.tf
  .github/renovate.json5
  README.md
  docs/book.toml
  docs/src/kubernetes/gitops.md
  docs/src/kubernetes/index.md
  docs/src/kubernetes/storage.md
  docs/src/notes-ramblings/howto/mixed-protocol-service.md
  docs/src/notes-ramblings/howto/pod-multihome.md
  kubernetes/main/apps/dev/actions-runner-controller/runners/home-ops.yaml
  kubernetes/main/flux/config/cluster.yaml
  mkdocs.yaml
Labels: area/github

ci: Clean up unused Terraform workflow
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

ci: Clean up unused Terraform workflow
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

ci: Update secrets
  .github/workflows/docs-publish.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/meta-labeler.yaml
Labels: area/github

ci: Update secrets
  .github/workflows/docs-publish.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/meta-labeler.yaml
Labels: area/github

fix(alpine): Shorten tag
  kubernetes/main/apps/network/multus/app/helmrelease.yaml
  kubernetes/main/apps/system/fstrim/app/helmrelease.yaml
Labels: none

fix(alpine): Shorten tag
  kubernetes/main/apps/network/multus/app/helmrelease.yaml
  kubernetes/main/apps/system/fstrim/app/helmrelease.yaml
Labels: none

feat(arc): Disable per-repo runners
  kubernetes/main/apps/dev/actions-runner-controller/runners/kustomization.yaml
Labels: none

feat(arc): Disable per-repo runners
  kubernetes/main/apps/dev/actions-runner-controller/runners/kustomization.yaml
Labels: none

Fix order of operations
  k8s/clusters/cluster-2/manifests/network/multus/app/kustomization.yaml
Labels: area/kubernetes

Up the backups
  k8s/clusters/cluster-2/manifests/database/cloudnative-pg/cluster/scheduledbackup.yaml
Labels: area/kubernetes

Fix sops creation rules
  .sops.yaml
Labels: none

Try radarr-4k on postgre
  k8s/clusters/cluster-2/manifests/downloads/radarr-4k/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/downloads/radarr-4k/app/kustomization.yaml
  k8s/clusters/cluster-2/manifests/downloads/radarr-4k/app/secret.sops.yaml
Labels: area/kubernetes

Had too many defaultpodoptions
  k8s/clusters/cluster-2/manifests/downloads/radarr-4k/app/helmrelease.yaml
Labels: area/kubernetes

Too many probes Thanks aliens
  k8s/clusters/cluster-2/manifests/downloads/radarr-4k/app/helmrelease.yaml
Labels: area/kubernetes

Too many resources
  k8s/clusters/cluster-2/manifests/downloads/radarr-4k/app/helmrelease.yaml
Labels: area/kubernetes

Update schema
  k8s/clusters/cluster-2/manifests/downloads/radarr-4k/app/helmrelease.yaml
Labels: area/kubernetes

Disable to init the db
  k8s/clusters/cluster-2/manifests/downloads/radarr-4k/app/helmrelease.yaml
Labels: area/kubernetes

Start migration of db to postgre
  k8s/clusters/cluster-2/manifests/downloads/sonarr-4k/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/downloads/sonarr-4k/app/kustomization.yaml
  k8s/clusters/cluster-2/manifests/downloads/sonarr-4k/app/secret.sops.yaml
Labels: area/kubernetes

Fix secret
  k8s/clusters/cluster-2/manifests/downloads/sonarr-4k/app/helmrelease.yaml
Labels: area/kubernetes

Fix secret Wrong key names
  k8s/clusters/cluster-2/manifests/downloads/sonarr-4k/app/secret.sops.yaml
Labels: area/kubernetes

Re-enable probes Disable volsync backups
  k8s/clusters/cluster-2/manifests/downloads/radarr-4k/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/downloads/radarr-4k/app/kustomization.yaml
  k8s/clusters/cluster-2/manifests/downloads/sonarr-4k/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/downloads/sonarr-4k/app/kustomization.yaml
Labels: area/kubernetes
