Repository bjw-s-labs/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/clusters/**/*"
        - "k8s/global/**/*"

Whoops, deleted my PVC! Good thing it was already migrated
  k8s/clusters/cluster-2/manifests/downloads/radarr-4k/app/kustomization.yaml
  k8s/clusters/cluster-2/manifests/downloads/radarr-4k/app/pvc.yaml
  k8s/clusters/cluster-2/manifests/downloads/sonarr-4k/app/kustomization.yaml
  k8s/clusters/cluster-2/manifests/downloads/sonarr-4k/app/pvc.yaml
Labels: area/kubernetes

blockpool cant have RWX
  k8s/clusters/cluster-2/manifests/downloads/radarr-4k/app/pvc.yaml
  k8s/clusters/cluster-2/manifests/downloads/sonarr-4k/app/pvc.yaml
Labels: area/kubernetes

Grr need to have at accessMode
  k8s/clusters/cluster-2/manifests/downloads/radarr-4k/app/pvc.yaml
  k8s/clusters/cluster-2/manifests/downloads/sonarr-4k/app/pvc.yaml
Labels: area/kubernetes

Migrate sonarr to postgres
  k8s/clusters/cluster-2/manifests/downloads/sonarr/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/downloads/sonarr/app/kustomization.yaml
  k8s/clusters/cluster-2/manifests/downloads/sonarr/app/pvc.yaml
  k8s/clusters/cluster-2/manifests/downloads/sonarr/app/secret.sops.yaml
Labels: area/kubernetes

I dont think I need to isolate Sonarr from Plex anymore
  k8s/clusters/cluster-2/manifests/downloads/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(arc): Organization runner set
  .ci/actionlint/actionlint.yml
  .github/workflows/flux-ks-sync.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/bjw-s-labs.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/home-ops.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/kustomization.yaml
Labels: area/github

feat(arc): Organization runner set
  .ci/actionlint/actionlint.yml
  .github/workflows/flux-ks-sync.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/bjw-s-labs.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/home-ops.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/kustomization.yaml
Labels: area/github

Switch back to sqlite
  k8s/clusters/cluster-2/manifests/downloads/sonarr/app/secret.sops.yaml
Labels: area/kubernetes

Swap Radarr to postgre
  k8s/clusters/cluster-2/manifests/downloads/radarr/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/downloads/radarr/app/kustomization.yaml
  k8s/clusters/cluster-2/manifests/downloads/radarr/app/pvc.yaml
  k8s/clusters/cluster-2/manifests/downloads/radarr/app/secret.sops.yaml
Labels: area/kubernetes

chore(arc): Scale down to 0 by default
  kubernetes/main/apps/dev/actions-runner-controller/runners/bjw-s-labs.yaml
Labels: none

chore(arc): Scale down to 0 by default
  kubernetes/main/apps/dev/actions-runner-controller/runners/bjw-s-labs.yaml
Labels: none

Try postgres again
  k8s/clusters/cluster-2/manifests/downloads/sonarr/app/secret.sops.yaml
Labels: area/kubernetes

Re-enable after migration
  k8s/clusters/cluster-2/manifests/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes

Revert again, I now know the error
  k8s/clusters/cluster-2/manifests/downloads/sonarr/app/secret.sops.yaml
Labels: area/kubernetes

Try again
  k8s/clusters/cluster-2/manifests/downloads/sonarr/app/secret.sops.yaml
Labels: area/kubernetes

Revert "feat(helm): update chart external-dns ( 1.14.5 → 1.15.0 ) (#7176)"
  kubernetes/main/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/main/apps/network/external-dns/unifi/helmrelease.yaml
Labels: none

Revert "feat(helm): update chart external-dns ( 1.14.5 → 1.15.0 ) (#7176)"
  kubernetes/main/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/main/apps/network/external-dns/unifi/helmrelease.yaml
Labels: none

fix: Fix probe endpoint
  kubernetes/main/apps/network/external-dns/unifi/helmrelease.yaml
Labels: none

fix(scrypted): Additional port on svc
  kubernetes/main/apps/home-automation/scrypted/app/helmrelease.yaml
Labels: none

fix(scrypted): Additional port on svc
  kubernetes/main/apps/home-automation/scrypted/app/helmrelease.yaml
Labels: none

chore: Migrate to `bjw-s-labs` images
  kubernetes/main/apps/dev/gh-safe-settings/app/helmrelease.yaml
  kubernetes/main/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/main/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/main/apps/scripts/mailbackup/app/cronjob.yaml
  kubernetes/main/apps/selfhosted/manyfold/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/radicale/app/helmrelease.yaml
Labels: none

chore: Migrate to `bjw-s-labs` images
  kubernetes/main/apps/dev/gh-safe-settings/app/helmrelease.yaml
  kubernetes/main/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/main/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/main/apps/scripts/mailbackup/app/cronjob.yaml
  kubernetes/main/apps/selfhosted/manyfold/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/radicale/app/helmrelease.yaml
Labels: none

feat(music-assistant)!: Archive
  .archive/kubernetes/music-assistant/app/helmrelease.yaml
  .archive/kubernetes/music-assistant/app/kustomization.yaml
  .archive/kubernetes/music-assistant/ks.yaml
  kubernetes/main/apps/home-automation/kustomization.yaml
Labels: none

feat(music-assistant)!: Archive
  .archive/kubernetes/music-assistant/app/helmrelease.yaml
  .archive/kubernetes/music-assistant/app/kustomization.yaml
  .archive/kubernetes/music-assistant/ks.yaml
  kubernetes/main/apps/home-automation/kustomization.yaml
Labels: none

ci: Fix mdbook image location
  .github/workflows/docs-publish.yaml
Labels: area/github

ci: Fix mdbook image location
  .github/workflows/docs-publish.yaml
Labels: area/github

chore(renovate): Update config
  .github/renovate/autoMerge.json5
Labels: area/github

chore(renovate): Update config
  .github/renovate/autoMerge.json5
Labels: area/github

fix: Quote alpine tag to prevent Renovate weirdness
  kubernetes/main/apps/network/multus/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/manyfold/app/helmrelease.yaml
  kubernetes/main/apps/system/fstrim/app/helmrelease.yaml
Labels: none

fix: Quote alpine tag to prevent Renovate weirdness
  kubernetes/main/apps/network/multus/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/manyfold/app/helmrelease.yaml
  kubernetes/main/apps/system/fstrim/app/helmrelease.yaml
Labels: none

fix(qbit): Fix port sync image tag
  kubernetes/main/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: none

fix(qbit): Fix port sync image tag
  kubernetes/main/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: none

Delete old Sonarr PVC Using Postgre now
  k8s/clusters/cluster-2/manifests/downloads/sonarr/app/kustomization.yaml
  k8s/clusters/cluster-2/manifests/downloads/sonarr/app/pvc.yaml
  k8s/clusters/cluster-2/manifests/downloads/sonarr/ks.yaml
Labels: area/kubernetes

Add recyclarr
  k8s/clusters/cluster-2/manifests/downloads/kustomization.yaml
  k8s/clusters/cluster-2/manifests/downloads/recyclarr/app/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/downloads/recyclarr/app/kustomization.yaml
  k8s/clusters/cluster-2/manifests/downloads/recyclarr/ks.yaml
Labels: area/kubernetes

Remove unused secrets
  k8s/clusters/cluster-2/manifests/downloads/recyclarr/app/kustomization.yaml
Labels: area/kubernetes

Doh, forgot the resouces folder
  k8s/clusters/cluster-2/manifests/downloads/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

Fix namespace in dependencies
  k8s/clusters/cluster-2/manifests/downloads/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

Dont backup recyclarr PVC
  k8s/clusters/cluster-2/manifests/downloads/recyclarr/app/pvc.yaml
  k8s/clusters/cluster-2/manifests/downloads/recyclarr/ks.yaml
Labels: area/kubernetes

Deploy PVC first
  k8s/clusters/cluster-2/manifests/downloads/recyclarr/app/kustomization.yaml
Labels: area/kubernetes

No idea what the hell I did to the recyclarr config But I made radarr changes
  k8s/clusters/cluster-2/manifests/downloads/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes
