Repository bjw-s-labs/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/clusters/**/*"
        - "k8s/global/**/*"

feat(linkding)!: Archive
  .archive/kubernetes/linkding/app/externalsecret.yaml
  .archive/kubernetes/linkding/app/helmrelease.yaml
  .archive/kubernetes/linkding/app/kustomization.yaml
  .archive/kubernetes/linkding/ks.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
Labels: none

chore(vector): Move to proper archive folder
  .archive/kubernetes/vector/agent/config/vector.yaml
  .archive/kubernetes/vector/agent/helmrelease.yaml
  .archive/kubernetes/vector/agent/kustomization.yaml
  .archive/kubernetes/vector/agent/rbac.yaml
  .archive/kubernetes/vector/aggregator/config/vector.yaml
  .archive/kubernetes/vector/aggregator/externalsecret.yaml
  .archive/kubernetes/vector/aggregator/helmrelease.yaml
  .archive/kubernetes/vector/aggregator/kustomization.yaml
  .archive/kubernetes/vector/ks.yaml
Labels: none

chore(vector): Move to proper archive folder
  .archive/kubernetes/vector/agent/config/vector.yaml
  .archive/kubernetes/vector/agent/helmrelease.yaml
  .archive/kubernetes/vector/agent/kustomization.yaml
  .archive/kubernetes/vector/agent/rbac.yaml
  .archive/kubernetes/vector/aggregator/config/vector.yaml
  .archive/kubernetes/vector/aggregator/externalsecret.yaml
  .archive/kubernetes/vector/aggregator/helmrelease.yaml
  .archive/kubernetes/vector/aggregator/kustomization.yaml
  .archive/kubernetes/vector/ks.yaml
Labels: none

feat(authelia)!: Undeploy
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
  kubernetes/main/apps/security/authelia/app/config/configuration.yaml
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/security/authelia/app/helmrelease.yaml
  kubernetes/main/apps/security/authelia/app/kustomization.yaml
  kubernetes/main/apps/security/authelia/ks.yaml
  kubernetes/main/apps/security/kustomization.yaml
  kubernetes/main/apps/security/lldap/app/externalsecret.yaml
  kubernetes/main/apps/security/lldap/app/helmrelease.yaml
  kubernetes/main/apps/security/lldap/app/kustomization.yaml
  kubernetes/main/apps/security/lldap/ks.yaml
Labels: none

feat(authelia)!: Undeploy
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
  kubernetes/main/apps/security/authelia/app/config/configuration.yaml
  kubernetes/main/apps/security/authelia/app/externalsecret.yaml
  kubernetes/main/apps/security/authelia/app/helmrelease.yaml
  kubernetes/main/apps/security/authelia/app/kustomization.yaml
  kubernetes/main/apps/security/authelia/ks.yaml
  kubernetes/main/apps/security/kustomization.yaml
  kubernetes/main/apps/security/lldap/app/externalsecret.yaml
  kubernetes/main/apps/security/lldap/app/helmrelease.yaml
  kubernetes/main/apps/security/lldap/app/kustomization.yaml
  kubernetes/main/apps/security/lldap/ks.yaml
Labels: none

feat(paperless)!: Move back to simple redis
  kubernetes/main/apps/selfhosted/paperless/app/helmrelease.yaml
Labels: none

feat(paperless)!: Move back to simple redis
  kubernetes/main/apps/selfhosted/paperless/app/helmrelease.yaml
Labels: none

feat(dragonfly)!: Archive
  .archive/kubernetes/dragonfly/cluster/cluster.yaml
  .archive/kubernetes/dragonfly/cluster/kustomization.yaml
  .archive/kubernetes/dragonfly/ks.yaml
  .archive/kubernetes/dragonfly/operator/helmrelease.yaml
  .archive/kubernetes/dragonfly/operator/kustomization.yaml
  .archive/kubernetes/dragonfly/operator/rbac.yaml
  .github/renovate/groups.json5
  kubernetes/main/apps/database/kustomization.yaml
  kubernetes/main/apps/selfhosted/paperless/ks.yaml
Labels: area/github

feat(dragonfly)!: Archive
  .archive/kubernetes/dragonfly/cluster/cluster.yaml
  .archive/kubernetes/dragonfly/cluster/kustomization.yaml
  .archive/kubernetes/dragonfly/ks.yaml
  .archive/kubernetes/dragonfly/operator/helmrelease.yaml
  .archive/kubernetes/dragonfly/operator/kustomization.yaml
  .archive/kubernetes/dragonfly/operator/rbac.yaml
  .github/renovate/groups.json5
  kubernetes/main/apps/database/kustomization.yaml
  kubernetes/main/apps/selfhosted/paperless/ks.yaml
Labels: area/github

feat(paperless): Replace redis image with valkey
  kubernetes/main/apps/selfhosted/paperless/app/helmrelease.yaml
Labels: none

feat(paperless): Replace redis image with valkey
  kubernetes/main/apps/selfhosted/paperless/app/helmrelease.yaml
Labels: none

fix(plex-trakt-sync): Update config
  kubernetes/main/apps/media/plex/trakt-sync/externalsecret.yaml
  kubernetes/main/apps/media/plex/trakt-sync/helmrelease.yaml
  kubernetes/main/apps/media/plex/trakt-sync/kustomization.yaml
Labels: none

fix(plex-trakt-sync): Update config
  kubernetes/main/apps/media/plex/trakt-sync/externalsecret.yaml
  kubernetes/main/apps/media/plex/trakt-sync/helmrelease.yaml
  kubernetes/main/apps/media/plex/trakt-sync/kustomization.yaml
Labels: none

add ansible for k3s
  ansible/.ansible-lint.j2
  ansible/.mjfilter.py
  ansible/inventory/group_vars/controllers/main.yaml.j2
  ansible/inventory/group_vars/kubernetes/main.yaml.j2
  ansible/inventory/group_vars/workers/.mjfilter.py
  ansible/inventory/group_vars/workers/main.yaml.j2
  ansible/inventory/hosts.yaml.j2
  ansible/playbooks/cluster-installation.yaml.j2
  ansible/playbooks/cluster-nuke.yaml.j2
  ansible/playbooks/cluster-prepare.yaml.j2
  ansible/playbooks/cluster-reboot.yaml.j2
  ansible/playbooks/cluster-rollout-update.yaml.j2
  ansible/playbooks/tasks/cilium.yaml.j2
  ansible/playbooks/tasks/cruft.yaml.j2
  ansible/playbooks/tasks/kubeconfig.yaml.j2
  ansible/playbooks/tasks/version-check.yaml.j2
  ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2
  ansible/playbooks/templates/custom-kube-vip-ds.yaml.j2
  ansible/playbooks/templates/custom-kube-vip-rbac.yaml.j2
  ansible/requirements.txt.j2
  ansible/requirements.yaml.j2
Labels: none

playbook tasks and vars
  .taskfiles/ansible/Taskfile.yaml
  Taskfile.yaml
Labels: none

more ansible edits
  ansible/inventory/group_vars/controllers/main.yaml.j2
  ansible/inventory/group_vars/kubernetes/main.yaml.j2
  ansible/inventory/group_vars/workers/main.yaml.j2
Labels: none

Revert "fix(container): update image homeassistant/home-assistant to v2024.7.1"
  k8s/clusters/cluster-2/manifests/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Dont need to backup this data
  k8s/clusters/cluster-2/manifests/media/plex-meta-manager/app/kustomization.yaml
Labels: area/kubernetes

Create PVC for PMM manually
  k8s/clusters/cluster-2/manifests/media/plex-meta-manager/app/kustomization.yaml
  k8s/clusters/cluster-2/manifests/media/plex-meta-manager/app/pvc.yaml
Labels: area/kubernetes

Revert "feat(helm): update chart ingress-nginx to 4.11.0"
  k8s/clusters/cluster-2/manifests/network/ingress-nginx/external/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(helm): update chart ingress-nginx to 4.10.2"
  k8s/clusters/cluster-2/manifests/network/ingress-nginx/external/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

Revert to e83a714
  .taskfiles/ansible/Taskfile.yaml
  Taskfile.yaml
  ansible/.ansible-lint.j2
  ansible/.mjfilter.py
  ansible/inventory/group_vars/controllers/main.yaml.j2
  ansible/inventory/group_vars/kubernetes/main.yaml.j2
  ansible/inventory/group_vars/workers/.mjfilter.py
  ansible/inventory/group_vars/workers/main.yaml.j2
  ansible/inventory/hosts.yaml.j2
  ansible/playbooks/cluster-installation.yaml.j2
  ansible/playbooks/cluster-nuke.yaml.j2
  ansible/playbooks/cluster-prepare.yaml.j2
  ansible/playbooks/cluster-reboot.yaml.j2
  ansible/playbooks/cluster-rollout-update.yaml.j2
  ansible/playbooks/tasks/cilium.yaml.j2
  ansible/playbooks/tasks/cruft.yaml.j2
  ansible/playbooks/tasks/kubeconfig.yaml.j2
  ansible/playbooks/tasks/version-check.yaml.j2
  ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2
  ansible/playbooks/templates/custom-kube-vip-ds.yaml.j2
  ansible/playbooks/templates/custom-kube-vip-rbac.yaml.j2
  ansible/requirements.txt.j2
  ansible/requirements.yaml.j2
Labels: none

Can I cahnge device class??
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Move metadta over to nvme
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Rmove SSD rbd
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Revert again!
  k8s/clusters/cluster-2/manifests/network/ingress-nginx/external/helmrelease.yaml
  k8s/clusters/cluster-2/manifests/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix(cpgo): Add ttlSecondsAfterFinished
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
Labels: none

fix(cpgo): Add ttlSecondsAfterFinished
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
Labels: none

feat(blocky): Remove
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/blocky.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
Labels: none

feat(blocky): Remove
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/blocky.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
Labels: none

feat!: Archive some apps
  .archive/kubernetes/autobrr/app/externalsecret.yaml
  .archive/kubernetes/autobrr/app/helmrelease.yaml
  .archive/kubernetes/autobrr/app/kustomization.yaml
  .archive/kubernetes/autobrr/ks.yaml
  .archive/kubernetes/cross-seed/app/config/config.js
  .archive/kubernetes/cross-seed/app/externalsecret.yaml
  .archive/kubernetes/cross-seed/app/helmrelease.yaml
  .archive/kubernetes/cross-seed/app/kustomization.yaml
  .archive/kubernetes/cross-seed/ks.yaml
  .archive/kubernetes/thelounge/app/helmrelease.yaml
  .archive/kubernetes/thelounge/app/kustomization.yaml
  .archive/kubernetes/thelounge/ks.yaml
  kubernetes/main/apps/downloads/kustomization.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
Labels: none

feat!: Archive some apps
  .archive/kubernetes/autobrr/app/externalsecret.yaml
  .archive/kubernetes/autobrr/app/helmrelease.yaml
  .archive/kubernetes/autobrr/app/kustomization.yaml
  .archive/kubernetes/autobrr/ks.yaml
  .archive/kubernetes/cross-seed/app/config/config.js
  .archive/kubernetes/cross-seed/app/externalsecret.yaml
  .archive/kubernetes/cross-seed/app/helmrelease.yaml
  .archive/kubernetes/cross-seed/app/kustomization.yaml
  .archive/kubernetes/cross-seed/ks.yaml
  .archive/kubernetes/thelounge/app/helmrelease.yaml
  .archive/kubernetes/thelounge/app/kustomization.yaml
  .archive/kubernetes/thelounge/ks.yaml
  kubernetes/main/apps/downloads/kustomization.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
Labels: none

feat(cpgo): Add R2 backups
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/externalsecret.yaml
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
  kubernetes/main/flux/vars/cluster-secrets.sops.yaml
Labels: none

feat(cpgo): Add R2 backups
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/externalsecret.yaml
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
  kubernetes/main/flux/vars/cluster-secrets.sops.yaml
Labels: none

chore(cpgo): Add jsonschema to cluster
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
Labels: none

chore(cpgo): Add jsonschema to cluster
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
Labels: none

Fix BGP to match new CRD style for cilium v1.16
  k8s/clusters/cluster-2/manifests/kube-system/cilium/app/bgppeeringpolicy.yaml
Labels: area/kubernetes

Revert "fix(container): update image quay.io/ceph/ceph to v18.2.4"
  k8s/clusters/cluster-2/manifests/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(cpgo): Remove ttlSecondsAfterFinished
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
Labels: none

fix(cpgo): Remove ttlSecondsAfterFinished
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
Labels: none
