Repository bjw-s-labs/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/clusters/**/*"
        - "k8s/global/**/*"

fix(tautulli): Use correct image tag
  kubernetes/main/apps/media/tautulli/app/helmrelease.yaml
Labels: none

chore(renovate): Remove obsolete radicale config
  .github/renovate/versioning.json5
Labels: area/github

chore(renovate): Remove obsolete radicale config
  .github/renovate/versioning.json5
Labels: area/github

feat(it-tools): Deploy
  kubernetes/main/apps/selfhosted/it-tools/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/it-tools/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/it-tools/ks.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
Labels: none

feat(it-tools): Deploy
  kubernetes/main/apps/selfhosted/it-tools/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/it-tools/app/kustomization.yaml
  kubernetes/main/apps/selfhosted/it-tools/ks.yaml
  kubernetes/main/apps/selfhosted/kustomization.yaml
Labels: none

fix(piped): Use calVer'ed frontend image
  kubernetes/main/apps/media/piped/app/helmrelease.yaml
Labels: none

fix(piped): Use calVer'ed frontend image
  kubernetes/main/apps/media/piped/app/helmrelease.yaml
Labels: none

fix(getmail): Update version tag
  kubernetes/main/apps/scripts/mailbackup/app/cronjob.yaml
Labels: none

fix(getmail): Update version tag
  kubernetes/main/apps/scripts/mailbackup/app/cronjob.yaml
Labels: none

feat(ytdl-sub): Run every 6 hours
  kubernetes/main/apps/downloads/ytdl-sub/app/helmrelease.yaml
Labels: none

feat(ytdl-sub): Run every 6 hours
  kubernetes/main/apps/downloads/ytdl-sub/app/helmrelease.yaml
Labels: none

feat: Use caddy-based images for it-tools, piped-frontend
  kubernetes/main/apps/media/piped/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/it-tools/app/helmrelease.yaml
Labels: none

feat: Use caddy-based images for it-tools, piped-frontend
  kubernetes/main/apps/media/piped/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/it-tools/app/helmrelease.yaml
Labels: none

feat: Improve securityContext for it-tools, piped-frontend
  kubernetes/main/apps/media/piped/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/it-tools/app/helmrelease.yaml
Labels: none

feat: Improve securityContext for it-tools, piped-frontend
  kubernetes/main/apps/media/piped/app/helmrelease.yaml
  kubernetes/main/apps/selfhosted/it-tools/app/helmrelease.yaml
Labels: none

chore(taskfile): Streamline some tasks
  .taskfiles/externalsecrets/Taskfile.yaml
  .taskfiles/k8s/Taskfile.yaml
  .taskfiles/postgres/Taskfile.yaml
  .taskfiles/volsync/Taskfile.yaml
  Taskfile.yaml
Labels: none

chore(taskfile): Streamline some tasks
  .taskfiles/externalsecrets/Taskfile.yaml
  .taskfiles/k8s/Taskfile.yaml
  .taskfiles/postgres/Taskfile.yaml
  .taskfiles/volsync/Taskfile.yaml
  Taskfile.yaml
Labels: none

chore(taskfile): More streamlining
  .gitignore
  .taskfiles/_scripts/wait-for-k8s-job.sh
  .taskfiles/flux/Taskfile.yaml
  .taskfiles/k8s/Taskfile.yaml
  .taskfiles/postgres/Taskfile.yaml
  .taskfiles/rook/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  .taskfiles/volsync/Taskfile.yaml
  Taskfile.yaml
  mise.toml
Labels: none

chore(taskfile): More streamlining
  .gitignore
  .taskfiles/_scripts/wait-for-k8s-job.sh
  .taskfiles/flux/Taskfile.yaml
  .taskfiles/k8s/Taskfile.yaml
  .taskfiles/postgres/Taskfile.yaml
  .taskfiles/rook/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  .taskfiles/volsync/Taskfile.yaml
  Taskfile.yaml
  mise.toml
Labels: none

chore(taskfile): More streamlining
  .taskfiles/flux/Taskfile.yaml
  .taskfiles/k8s/Taskfile.yaml
  .taskfiles/postgres/Taskfile.yaml
  .taskfiles/sops/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  .taskfiles/volsync/Taskfile.yaml
  Taskfile.yaml
Labels: none

chore(taskfile): More streamlining
  .taskfiles/flux/Taskfile.yaml
  .taskfiles/k8s/Taskfile.yaml
  .taskfiles/postgres/Taskfile.yaml
  .taskfiles/sops/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  .taskfiles/volsync/Taskfile.yaml
  Taskfile.yaml
Labels: none

chore(piped): Configure defaultPodOptions
  kubernetes/main/apps/media/piped/app/helmrelease.yaml
Labels: none

chore(piped): Configure defaultPodOptions (#7366)
  kubernetes/main/apps/media/piped/app/helmrelease.yaml
Labels: none

chore(piped): Configure defaultPodOptions (#7366)
  kubernetes/main/apps/media/piped/app/helmrelease.yaml
Labels: none

Nodes slow Needs moar timezzz
  k8s/clusters/cluster-2/manifests/system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

fix(taskfile): Use K8S_CLUSTER_DIR
  .taskfiles/flux/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
Labels: none

fix(taskfile): Use K8S_CLUSTER_DIR
  .taskfiles/flux/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
Labels: none

feat(cpgo): One less replica
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
Labels: none

feat(cpgo): One less replica
  kubernetes/main/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
Labels: none

ci: Update some workflows
  .github/workflows/lint.yaml
  .github/workflows/meta-enforce-labels.yaml
Labels: area/github

ci: Update some workflows
  .github/workflows/lint.yaml
  .github/workflows/meta-enforce-labels.yaml
Labels: area/github

chore(esphome): Resources
  kubernetes/main/apps/home-automation/esphome/app/helmrelease.yaml
Labels: none

chore(esphome): Resources
  kubernetes/main/apps/home-automation/esphome/app/helmrelease.yaml
Labels: none

fix(plex-trakt-sync): Resources
  kubernetes/main/apps/media/plex/trakt-sync/helmrelease.yaml
Labels: none

fix(plex-trakt-sync): Resources
  kubernetes/main/apps/media/plex/trakt-sync/helmrelease.yaml
Labels: none

Up storage space for database
  k8s/clusters/cluster-2/manifests/database/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

Disable thanos until I get S3 working again
  k8s/clusters/cluster-2/manifests/monitoring/kustomization.yaml
Labels: area/kubernetes

Lower CPU requests Let it move around to more nodes
  k8s/clusters/cluster-2/manifests/database/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

ci: Use different label verification action
  .github/workflows/meta-enforce-labels.yaml
Labels: area/github

ci: Use different label verification action
  .github/workflows/meta-enforce-labels.yaml
Labels: area/github
